In [2]:
print("Hello World")
print("Hello Python")

Hello World
Hello Python

In [4]:
a, b, c, d = map(int, input("4개 점수를 입력하세요 >>> ").split())
print("평균은",(a+b+c+d)/4, "점 입니다")

4개 점수를 입력하세요 >>> 100 90 85 80
평균은 88.75 점 입니다

In [8]:
input()

ㅇㅇ

'ㅇㅇ'

In [11]:
print(type(1))
print(type(1.0))
print(type(1+0j))

<class 'int'>
<class 'float'>
<class 'complex'>

In [16]:
print(id(1))
print(id(1.0))
print(id(1))

136477349822704
136476082465680
136477349822704

In [17]:
a = 5
print ( a is 5)

True

<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-17-90ef198f3128>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print ( a is 5)

In [19]:
a = 5
print(a is 6)

False

<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-19-33a795400fc1>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print(a is 6)

In [21]:
print(True and True)
print(True and False)
print(False and False)
print(False and True)

True
False
False
False

In [22]:
print(not True)
print( not False)

False
True

In [25]:
print( (8 >= 4) and ( 4 == 4))
print((5!= 5) or (10>= 7))

True
True

In [27]:
print(not True and False or True)

True

In [29]:
print(1 is 1.0)

False

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-29-97fee7b1e99a>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print(1 is 1.0)

In [33]:
print(bool(100))
print(bool(0))
print(bool(-100))

True
False
True

In [38]:
print(int(True), int(False))
print(float(True),float(False))
print(bool(0.0000000000000000000001))
print(bool(0.0000000000000000000000000001))

1 0
1.0 0.0
True
True

In [39]:
import math
print(bool(1/3))
print(bool(math.pi))

True
True

In [40]:
print(bool(1 + 0j))
print(bool(0 + 0j))
print(bool(0 + 1j))

True
False
True

In [42]:
print(bool(""))
print(bool("True"))
print(bool("False"))
print(0 and "")

False
True
True
0

In [46]:
print(True and "False")
print(True and "Hello")
print(False and "Hello")
print("Python" and True)
print("Python" and False)

False
Hello
False
True
False

In [47]:
print(False and "Python")
print(0 and "Python")

False
0

In [48]:
print(True or "Python")
print("Python" or True)
print(0 or True)
print(0 or False)

True
Python
True
False

In [50]:
a,b,c = map(int, input("3개 점수를 입력하세요 >>> ").split())
print((a >= 50) and (b >= 50) and (c >= 50))

3개 점수를 입력하세요 >>> 80 40 50
False

In [51]:
print("Hello World")
print('Hello World')

a = "Hello World"
print(a)

Hello World
Hello World
Hello World

In [52]:
b = """Hello World"""
print(b)

Hello World

In [53]:
c = "Hello\nWorld"
print(c)
d = """Hello
World"""
print(b)

Hello
World
Hello World

In [54]:
print("Hello\"World")
print("""Hello"World""")
print('Hello\'World')
print("""Hello'World""")

Hello"World
Hello"World
Hello'World
Hello'World

In [57]:
a = "Hello"
print('l' in a)
print('L' in a)

True
False

In [58]:
a,b = input().split()
print(a+b)

10 20
1020

In [59]:
a = "Hello"
print(a + a + a)
print(a * 3)
print(a * (-1))

HelloHelloHello
HelloHelloHello

In [64]:
a = "Hello"
print(len(a))

b = "Hello World"
print(len(b))

c = "Hello\n"
print(len(c))

d = "Hello\\"
print(len(d))

e = """Hello\\"""
print(e)
print(len(e))

f = """Hel""lo"""
print(f)
print(len(f))

5
11
6
6
Hello\
6
Hel""lo
7

In [67]:
a = "Hello"
print(a[1])
print(a[0])
print(a[3])

e
H
l

In [68]:
a = "Hello"
#print(a[5])
print(a[-1])
print(a[-5])
print(a[-len(a)])
print(a[0])

o
H
H
H

In [72]:
a = "Programming"
print(a[3] + a[4] + a[5] + a[6])
print(a[3:6])
print(a[0:4])
print(a[:4])
print(a[7:])
print(a[:])

gram
gra
Prog
Prog
ming
Programming

In [75]:
a = "Programming"
print(a[3:8])
print(a[3:8:2])

print(a[3:9])
print(a[3:9:3])

print(a[:7])

gramm
gam
grammi
gm
Program

In [76]:
a = "Hello World!"
print(a.replace("World", "Python"))

Hello Python!

In [80]:
a = "Hello World!"
a.replace("World", "Python")
print(a)

a = a.replace("World", "Python")
print(a)

Hello World!
Hello Python!

In [81]:
a = "Hello World!"
a = a.replace('l', '1')
print(a)

He11o Wor1d!

In [83]:
# a -> 1, b -> 2, c -> 3
table = str.maketrans("abc", "123")
a = "apple babana crown"
print(a.translate(table))
print(a)
a = a.translate(table)
print(a)

1pple 2121n1 3rown
apple babana crown
1pple 2121n1 3rown

In [85]:
a = '35'
print(a.zfill(4))

b = "Python"
print(b.zfill(10))

0035
0000Python

In [89]:
c = '123456789'
print(c.zfill(8))
print(c.rjust(5))
print(c.center(5))

123456789
123456789
123456789

In [2]:
a = "apple care plus"
print(a.find('pl'))
print(a.rfind('pl'))
print(a.find('xy'))
print(a.rfind('xy'))

2
11
-1
-1

In [3]:
a = " apple care plus"
print(a.count('pl'))
print(a.count('p'))

2
3

In [4]:
a = 100
b = 80
c = 90
d = 85
print("평균은 ", (a+b+c+d)/4 , "입니다")

평균은  88.75 입니다

In [10]:
age = 30
print("내 나이는 %d 살입니다." %age)
print("내 나이는 %5d 살입니다." %age)

month = 2
day = 13
print("내 생일은 %d월 %d일 입니다." %(month, day))

내 나이는 30 살입니다.
내 나이는    30 살입니다.
내 생일은 2월 13일 입니다.

In [11]:
pi = 3.14
print("파이는 %f 입니다. " % pi)
print("파이는 %.2f 입니다." %pi)
print("파이는 %5.2f 입니다." %pi)

파이는 3.140000 입니다.
파이는 3.14 입니다.
파이는  3.14 입니다.

In [12]:
city = "서울"
print("저는 %s에 거주합니다." %city)
print("저는 %10s에 거주합니다." %city)
print("저는 %-10s에 거주합니다." % city)

저는 서울에 거주합니다.
저는         서울에 거주합니다.
저는 서울        에 거주합니다.

In [15]:
city = "서울"
print("저는 {0}에 거주합니다." .format(city))

month = 2
day = 13
print("제 생일은 {0}월 {1}일 입니다.".format(month, day))
print("제 생일은 {1}월 {0}일 입니다.".format(month, day))

a = "경기"
print("{0}도에 사는 {0}씨".format(a))

a = "Python"
b = "Script"
c = "3.12.1"
print("이 {} {} 는 {} 입니다.".format(a,b,c))

저는 서울에 거주합니다.
제 생일은 2월 13일 입니다.
제 생일은 13월 2일 입니다.
경기도에 사는 경기씨
이 Python Script 는 3.12.1 입니다.

In [16]:
print("{언어} {버전} ".format(언어 = "Python", 버전 = "3.12.1"))

Python 3.12.1

In [17]:
language = "Python"
version = "3.12.1"
print("%s %s" % (language, version))
print(f"{language}) {version}")
print(f"{version} {version}")

print("{{{0}}}".format("Python"))

Python 3.12.1
Python) 3.12.1
3.12.1 3.12.1
{Python}

In [18]:
print("Python".ljust(10)+"!")
print("%-10s" % "Python")

Python    !
Python

In [30]:
print("{0:>012.3f}".format(34))
print("{0:0>12.3f}".format(34))

print("{0:<010d}".format(41))
print("{0:0<10}".format(41))

00000034.000
00000034.000
4100000000
4100000000

In [ ]:
print(format(100000000000, ','))
print(type(format(100000000000, ',')))
print("%20s" % format(100000000000, ','))
print("{0:0>20,}".format(100000000000))

In [ ]:
print(%)