In [2]:
language = {'python', 'java', 'html'}
print(language)

{'java', 'html', 'python'}

In [8]:
lang = {'python', 'java', 'java'}
print(lang)
print('java' in lang)
print('html' in lang)
print('java' not in lang)
print('html' not in lang)

{'java', 'python'}
True
False
False
True

In [11]:
a = set()
print(a)
print(type(a))
b = {}
print(b)
print(type(b))

set()
<class 'set'>
{}
<class 'dict'>

In [16]:
a = set([10, 30, 50])
print(a)

b = set((10, 20, 30, 20))
print(b)

c = set('안녕하세요')
print(c)

d = set(range(5, 30, 5))
print(d)

{10, 50, 30}
{10, 20, 30}
{'안', '녕', '세', '요', '하'}
{5, 10, 15, 20, 25}

In [19]:
a = {'ab', 'cd'}
print(a)

{'cd', 'ab'}

In [22]:
a = frozenset(range(10))
print(a)
print(set(a))

b = set(range(10))
print(b)
print(frozenset(b))

frozenset({0, 1, 2, 3, 4, 5, 6, 7, 8, 9})
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
frozenset({0, 1, 2, 3, 4, 5, 6, 7, 8, 9})

In [24]:
a = frozenset({frozenset({1, 2}),
               frozenset({3, 4})})
print(a)

b = frozenset({frozenset({1, 2}),
               frozenset({1, 2})})
print(b)

frozenset({frozenset({3, 4}), frozenset({1, 2})})
frozenset({frozenset({1, 2})})

In [33]:
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}
print(a, b)
print(set.union(a, b))
c = a | b
print(c)

print(set.intersection(a, b))
c = a & b
print(c)

print(set.difference(a, b))
print(set.difference(b, a))
c = a - b
print(c)

print(set.symmetric_difference(a, b))
c = a ^ b
print(c)

{1, 2, 3, 4} {3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{3, 4}
{3, 4}
{1, 2}
{5, 6}
{1, 2}
{1, 2, 5, 6}
{1, 2, 5, 6}

In [38]:
a = {1, 2, 3, 4}
print(a)
a |= {5}
print(a)
a.update({6})
print(a)
a &= {3, 4, 5, 6, 7, 8}
print(a)
a -= {4, 5}
print(a)
a ^= {5, 6}
print(a)

{1, 2, 3, 4}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}
{3, 4, 5, 6}
{3, 6}
{3, 5}

In [44]:
a = {3, 4, 5}
b = {1, 2, 3, 4, 5, 6}
print(a <= b)
print(a.issubset(b))
print(a < b)
print(a >= b)
print(a.issuperset(b))
print(a > b)

True
True
True
False
False
False

In [46]:
a = {1, 2, 3}
b = {3, 2, 1}
print(a == b)
print(a != b)

True
False

In [48]:
a = {1, 2, 3, 4}
print(a.isdisjoint({4, 5}))
print(a.isdisjoint({6, 5}))

False
True

In [61]:
a = {1, 2, 3}
print(a)
a.add(4)
print(a)
a.add(3)
print(a)
a.remove(3)
print(a)
a.discard(2)
print(a)
a.discard(5)
print(a)
print(a.pop())
print(a)
a.clear()
print(a)

{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4}
{1, 2, 4}
{1, 4}
{1, 4}
1
{4}
set()

In [62]:
a = set(range(100))
print(len(a))

100

In [66]:
a = {1, 2, 3, 4}
b = a
print(a, b)
b.add(5)
print(a, b)
print(a==b, a is b)

{1, 2, 3, 4} {1, 2, 3, 4}
{1, 2, 3, 4, 5} {1, 2, 3, 4, 5}
True True

In [67]:
a = {1, 2, 3, 4}
b = a.copy()
print(a, b)
print(a == b, a is b)
b.add(5)
print(a, b)

{1, 2, 3, 4} {1, 2, 3, 4}
True False
{1, 2, 3, 4} {1, 2, 3, 4, 5}

In [69]:
a = 10
if a < 20:
  print('Hello')

IndentationError: expected an indented block after 'if' statement on line 2 (<ipython-input-69-e616e2fa022c>, line 3)

In [78]:
a = 10
if a == 10:
  print('a가 10이다.')
  print('진짜 10이다.')

a가 10이다.
진짜 10이다.

In [80]:
a = 15
if a >= 10:
  print('a는 10 이상이다.')
  if a == 15:
    print('a는 15다.')

if a < 10:
  print('a는 10보다 작다.')

a는 10 이상이다.
a는 15다.

In [83]:
a = int(input("점수를 입력해주세요 >>> "))
if a >= 70:
  print('합격입니다')
  if a >= 90:
    print('축하합니다')
if a < 70:
  print('불합격입니다')

점수를 입력해주세요 >>> 60
불합격입니다

In [86]:
a = int(input("점수를 입력해주세요 >>> "))
if a >= 70:
  print('합격입니다')
  if a >= 90:
    print('축하합니다')
  else:
    print('노력하세요')
else:
  print('불합격입니다')

점수를 입력해주세요 >>> 85
합격입니다
노력하세요

In [89]:
a = int(input("점수 >>> "))
if a >= 90:
  print('A')
elif a >= 80: # a < 90
  print('B')
elif a >= 70: # a < 80
  print('C')
else: # a < 70
  print('F')

점수 >>> 60
F

In [110]:
if {} or 1:
  print('True')
else:
  print('False')

True

In [111]:
a = 30
b = True

if a >= 50 or b:
  print('Yes')
else:
  print('No')

Yes

In [112]:
a = "Python"
b = 100
c = list(range(3, 10, 2))

if len(a) >= 5:
  if b <= 200:
    print('Yes')
  elif 5 in c:
    print('Yes')
  else:
    print('No')
else:
  print('No')

if len(a) >= 5 and (b <= 200 or 5 in c):
  print('Yes')
else:
  print('No')

Yes
Yes

In [118]:
# 99페이지 1번
# 100~90 A, 89~80 B, 79~70 C, 69~60 D, 59~0 F
# 위 범위 없는 숫자면 Error 출력

a = int(input("성적 >>> "))
# 1) if만 쓰기
if 90 <= a <= 100:
  print('A')
if 80 <= a <= 89:
  print('B')
if 70 <= a <= 79:
  print('C')
if 60 <= a <= 69:
  print('D')
if 0 <= a <= 59:
  print('F')
if a > 100 or a < 0:
  print('Error')

# 2) if-elif-else 다 쓰기
if a > 100 or a < 0:
  print('Error')
elif 90 <= a:
  print('A')
elif 80 <= a:
  print('B')
elif 70 <= a:
  print('C')
elif 60 <= a:
  print('D')
else:
  print('F')

성적 >>> 30
F
F

In [120]:
# 99페이지 2번
# 임의 정수를 입력받고 3의 배수인지 판별
n = int(input("정수를 입력하세요 >>> "))
if n % 3 == 0:
  print(n, "는 3의 배수입니다.")
else:
  print(n, "는 3의 배수가 아닙니다.")

정수를 입력하세요 >>> 14
14 는 3의 배수가 아닙니다.

In [121]:
# 99페이지 3번
# a, b, c 중 큰 수 출력
a = int(input("정수1 입력 >>> "))
b = int(input("정수2 입력 >>> "))
c = int(input("정수3 입력 >>> "))

# 1) 중첩 if문
if a > b:
  if a > c:
    print(a)
  else:
    print(c)
else: # b > a
  if b > c:
    print(b)
  else:
    print(c)
# 2) if문 3개
if a > b and a > c:
  print(a)
if b > a and b > c:
  print(b)
if c > a and c > b:
  print(c)

정수1 입력 >>> 5
정수2 입력 >>> 6
정수3 입력 >>> 7
7
7

In [130]:
# 99페이지 4번
# 마지막 차량번호 4자리를 더했을 때
# + 기호 사용하지 않고 합 구하기
#             짝수로 끝나면 -> 운행가능
#             홀수로 끝나면 -> 운행불가
# 237가1234 -> 10 -> 운행가능
car = input("차량 번호를 입력하세요 >>> ")
b = list(car[-4:])
c = list(map(int, b))
d = sum(c)
if d % 2 == 0:
  print('운행가능')
else:
  print('운행불가')

차량 번호를 입력하세요 >>> 237가1234
운행가능

In [135]:
print('운행'+'가불능가'[sum(list(map(int,list(input("차량 번호를 입력하세요 >>> ")[-4:]))))%2::2])
# code-golf

차량 번호를 입력하세요 >>> 237가1235
운행불가

In [137]:
# 평어 A+, A0, A-,    B+, B0, B-,    C+, C0, C-,     D+, D0, D-
#     4.3 4.0 3.7    3.3 3.0 2.7    2.3 2.0 1.7     1.3 1.0 0.7
a = input("평어 입력 >>> ")
s = 0
if a[0] == 'A':
  s = 4
elif a[0] == 'B':
  s = 3
elif a[0] == 'C':
  s = 2
else:
  s = 1

if a[1] == '+':
  s += 0.3
elif a[1] == '-':
  s -= 0.3

print(s)

평어 입력 >>> D0
1

In [140]:
# 평어 A+, A0, A-,    B+, B0, B-,    C+, C0, C-,     D+, D0, D-
#     4.3 4.0 3.7    3.3 3.0 2.7    2.3 2.0 1.7     1.3 1.0 0.7
a = input("평어 입력 >>> ")

dic1 = dict(zip('ABCD', [4, 3, 2, 1]))
dic2 = dict(zip('+0-', [0.3, 0, -0.3]))

print(dic1[a[0]]+dic2[a[1]])

평어 입력 >>> B-
2.7

In [143]:
# A -> 65, B -> 66, C -> 67, D -> 68
# + -> 43, - -> 45
a = input("평어 입력 >>> ")
print(69-ord(a[0])+0.3*(dict(zip('+0-',[0.3,0,-0.3])))[a[1]])

평어 입력 >>> A0
4.0