In [1]:
a = "'Python' is a \"programming\" language\nand it is \"easy\"\nto\nwrite code!!!"
print(a)

'Python' is a "programming" language
and it is "easy"
to
write code!!!

In [2]:
a = """'Python' is a "programming" language
and it is "easy"
to
write code!!!"""
print(a)

'Python' is a "programming" language
and it is "easy"
to
write code!!!

In [10]:
a = "python"
print('"'+a.upper().rjust(10)+'"')
print("\"{0:<10}\"".format(a))
print('"'+a.center(10).replace('on',"ON")+'"')

table = str.maketrans("pyon", "PY12")
print('"'+a.translate(table)+'"')

"    PYTHON"
"python    "
"  pythON  "
"PYth12"

In [11]:
a = [1, 2, 3, 4, 5]
print(a)

[1, 2, 3, 4, 5]

In [12]:
b = ['hello', 30, 3.14, True, 5.2+6j]
print(b)

['hello', 30, 3.14, True, (5.2+6j)]

In [14]:
c = [30 40]

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-14-d4fb415194ed>, line 1)

In [16]:
a = []
print(a)

b = list()
print(b)

[]
[]

In [17]:
a = [1, 2, 3, 4, 5]
print(a)

[1, 2, 3, 4, 5]

In [20]:
a = range(6)
print(a)
a = list(a)
print(a)

print(list(range(10)))

range(0, 6)
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
a = range(5, 11)
print(a)
a = list(a)
print(a)

print(list(range(8, 20)))

range(5, 11)
[5, 6, 7, 8, 9, 10]
[8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [26]:
a = range(4, 11, 2)
print(a)
a = list(a)
print(a)

print(list(range(-10, 10, 3)))

range(4, 11, 2)
[4, 6, 8, 10]
[-10, -7, -4, -1, 2, 5, 8]

In [27]:
print(list(range(10, -1, -1)))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [31]:
a = [1, 2, 3]
print(a)

b = (1, 2, 3)
print(b)

c = 1, 2, 3
print(c)

[1, 2, 3]
(1, 2, 3)
(1, 2, 3)

In [35]:
a = (29)
print(a)
print(type(a))

b = (29,)
print(b)
print(type(b))

c = 29,
print(c)
print(type(c))

29
<class 'int'>
(29,)
<class 'tuple'>
(29,)
<class 'tuple'>

In [38]:
print(tuple(range(6)))
print(tuple(range(3, 8)))
print(tuple(range(2, 12, 4)))

(0, 1, 2, 3, 4, 5)
(3, 4, 5, 6, 7)
(2, 6, 10)

In [43]:
a = ['Kim', 30, 173.5]
print(a)
print(type(a))
a[1] = 31
print(a)

a = tuple(a)
print(a)
print(type(a))

a = list(a)
a[2] = 174.5
print(a)
print(type(a))

['Kim', 30, 173.5]
<class 'list'>
['Kim', 31, 173.5]
('Kim', 31, 173.5)
<class 'tuple'>
['Kim', 31, 174.5]
<class 'list'>

In [48]:
a = 'Hello Python'
print(a)
print(type(a))

b = list(a)
print(b)
print(type(b))

c = ''.join(b)
print(c)
print(type(c))

d = tuple(c)
print(d)
print(type(d))

e = ''.join(d)
print(e)
print(type(e))

Hello Python
<class 'str'>
['H', 'e', 'l', 'l', 'o', ' ', 'P', 'y', 't', 'h', 'o', 'n']
<class 'list'>
Hello Python
<class 'str'>
('H', 'e', 'l', 'l', 'o', ' ', 'P', 'y', 't', 'h', 'o', 'n')
<class 'tuple'>
Hello Python
<class 'str'>

In [50]:
a = 1
b = 2
c = 3

d, e, f = [1, 2, 3]
print(d, e, f)

g, h, i = 1, 2, 3
print(g, h, i)

1 2 3
1 2 3

In [51]:
a = [1, 2, 3]
x, y, z = a
print(x, y, z)

1 2 3

In [53]:
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
print(c)

[1, 2, 3, 4, 5, 6]

In [55]:
a = list(range(-10, 0, 3))
b = list(range(1, 11, 3))
c = tuple(a + b)
print(c)

(-10, -7, -4, -1, 1, 4, 7, 10)

In [60]:
a = list(range(0, 100, 10))
print(a)

print(30 in a)
print(35 in a)
print(100 not in a)

print(3 in range(3))

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
True
False
True
False

In [62]:
a = [1, 2]
b = [3, 4]
print(a + b)

c = [5, 6]
print(a + b + c)

[1, 2, 3, 4]
[1, 2, 3, 4, 5, 6]

In [63]:
a = (1, 2)
b = (3, 4)
print(a + b)

(1, 2, 3, 4)

In [64]:
a = range(10)
b = range(20, 30)
print(a + b)

TypeError: unsupported operand type(s) for +: 'range' and 'range'

In [68]:
a = [3, 6, 9]
print(a * 3)

b = (3, 6, 9)
print(b * 3)

c = 'Hello'
print(c * 3)

d = range(10)
print(d * 3)

[3, 6, 9, 3, 6, 9, 3, 6, 9]
(3, 6, 9, 3, 6, 9, 3, 6, 9)
HelloHelloHello

TypeError: unsupported operand type(s) for *: 'range' and 'int'

In [72]:
a = [7, 8, 9, 10]
print(len(a))

b = (1, 2, 3, 4)
print(len(b))

c = range(0, 10, 2)
print(len(c))

d = 'Hello World\n'
print(len(d))

4
4
5
12

In [75]:
a = [15, 14, 13, 12, 11]
print(a[2])
print(a[4])
print(a[len(a)-1])

13
11
11

In [77]:
b = (5, 4, 3, 2, 1)
print(b[1])
print(b[-2])

4
2

In [79]:
c = range(30, -1, -5)
print(c[2])

20

In [82]:
a = [0, 0, 0, 0, 0]
a[0] = 10
a[1] = 20
a[2] = 30
a[3] = 40
a[4] = 50
print(a)

# a[5] = 60
a[-1] = 60
print(a)

[10, 20, 30, 40, 50]
[10, 20, 30, 40, 60]

In [83]:
a = (0, 0, 0)
a[1] = 20

TypeError: 'tuple' object does not support item assignment

In [84]:
a = range(20)
a[1] = 20

TypeError: 'range' object does not support item assignment

In [85]:
a = 'Hello'
a[1] = 'f'

TypeError: 'str' object does not support item assignment

In [86]:
a = (10, 21, 30)
a = list(a) # [10, 21, 30]
a[1] = 20 # [10, 20, 30]
a = tuple(a)
print(a)

(10, 20, 30)

In [87]:
a = "Hillo"
a = list(a) # ['H', 'i', 'l', 'l', 'o']
a[1] = 'e' # ['H', 'e', 'l', 'l', 'o']
a = ''.join(a)
print(a)

Hello

In [88]:
a = [10, 20, 30, 31, 40]
del a[3]
print(a)

[10, 20, 30, 40]

In [89]:
a = (1, 2, 5, 3)
del a[2]

TypeError: 'tuple' object doesn't support item deletion

In [90]:
a = "Helplo"
del a[3]

TypeError: 'str' object doesn't support item deletion

In [91]:
a = "Helplo"
a = list(a) # ['H', 'e', 'l', 'p', 'l', 'o']
del a[3]  # ['H', 'e', 'l', 'l', 'o']
a = ''.join(a)
print(a)

Hello

In [102]:
a = list(range(0, 100, 10))
print(a)
a[2:5] = ['a', 'b', 'c']
print(a)
a[2:5] = [30]
print(a)
a[2:5] = 'abc'
print(a)
a[2:5] = (50,)
print(a)
a[1:3] = 'abcde'
print(a)
a[1:6:2] = ['가', '나', '다']
print(a)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
[0, 10, 'a', 'b', 'c', 50, 60, 70, 80, 90]
[0, 10, 30, 50, 60, 70, 80, 90]
[0, 10, 'a', 'b', 'c', 70, 80, 90]
[0, 10, 50, 70, 80, 90]
[0, 'a', 'b', 'c', 'd', 'e', 70, 80, 90]
[0, '가', 'b', '나', 'd', '다', 70, 80, 90]

In [105]:
a = list(range(0, 100, 10))
print(a)
del a[5:8]
print(a)
del a[1:6:2]
print(a)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
[0, 10, 20, 30, 40, 80, 90]
[0, 20, 40, 90]

In [107]:
a = input("문자열 1 입력 >>> ")
b = input("문자열 2 입력 >>> ")
c = a[::2]
d = b[1::2]
print(c + d)

문자열 1 입력 >>> apple
문자열 2 입력 >>> python
apeyhn

In [110]:
# 49페이지 1번
# '31025' -> 3학년 10반 25번
# '30505' -> 3학년 5반 5번
a = input("학번 입력 >>> ")
b = int(a[0])
c = int(a[1:3])
d = int(a[3:5])
print(f"{b}학년 {c}반 {d}번")

학번 입력 >>> 30505
3학년 5반 5번

In [111]:
a = input("학번 입력 >>> ")
b = a[0]
c = a[1:3].lstrip('0')
d = a[3:5].lstrip('0')
print(f"{b}학년 {c}반 {d}번")

학번 입력 >>> 30505
3학년 5반 5번

In [115]:
# 49페이지 2번
# 288가1234 -> 1234
# 10가1234 -> 1234

a = input("차량 번호 입력 >>> ")
print(a[-4:])

# 288가1234 -> 288
# 10가1234 -> 10
# 서울2가1234 -> 서울2
print(a[:-5])

차량 번호 입력 >>> 서울2가1234
1234
서울2

In [124]:
# 49페이지 3번
# s = "maple" # -> 2:3(-2)
# s = "orange" # -> 2:4(-2)
s = "rainbow" # -> 3:4(-3)
# 글자 수가 홀수 = 가운데 1개
#          짝수 = 가운데 2개
a = len(s)-1
print(s[a//2:-(a//2)])

n

In [125]:
# 49페이지 4번
# range 이용해서 a 리스트 만들기
a = list(range(10, 101, 10))

# 시작 번호와 끝 번호를 입력받아서
# 입력받은 영역의 요소를 추출
st, en = map(int, input("시작과 끝 번호 >>> ").split())
print(a[st:en+1])

# 추출한 리스트에서 몇 번째를 받을지도 입력받아서 추출
nth = int(input("몇 번째? >>> "))
print(a[st:en+1][nth-1])

시작과 끝 번호 >>> 3 7
[40, 50, 60, 70, 80]
몇 번째? >>> 3
60

In [127]:
# 66페이지 2번
month = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
a = int(input("1~12 사이의 월을 입력하세요 >>> "))
print("%d월은 %d일까지 있습니다." % (a, month[a-1]))

1~12 사이의 월을 입력하세요 >>> 9
9월은 30일까지 있습니다.