In [ ]:
# enumerate(시퀀스)
a = [10, 20, 30, 40]

for idx, val in enumerate(a):
  print(idx, val)
for idx, val in enumerate(a):
  print(idx+1, val)

0 10
1 20
2 30
3 40
1 10
2 20
3 30
4 40

In [ ]:
a = [10, 20, 30, 40]
for idx, val in enumerate(a, start = 100):
  print(idx, val)

for idx, val in enumerate(a, 100):
  print(idx, val)

100 10
101 20
102 30
103 40
100 10
101 20
102 30
103 40

In [ ]:
# 리스트의 최솟값, 최댓값, 합 (for문 활용)
a = [38, 19, 14, 24, 100, 18]
minimum = a[0] # 우선 0번 인덱스로 초기화 한다
maximum = a[0]
for i in a:
  if i < minimum: # 지금 최솟값이라 설정된 값보다 작은 값이 존재
    minimum = i

for i in a:
  if i > maximum:
    maximum = i

print(minimum, maximum)

14 100

In [ ]:
# 정렬 함수를 이용한 최소, 최대 구하기
a = [38, 19, 14, 24, 100, 18]
a.sort()
print(a[0],a[-1])

14 100

In [ ]:
# 최솟값, 최댓값 함수 이용
a = [38, 19, 14, 24, 100, 18]
print(min(a), max(a))

14 100

In [ ]:
# 리스트 컴프리헨션(리스트 확장)
a = [i for i in range(10)]
b = [0, 1 ,2, 3, 4, 5, 6, 7, 8, 9]
c = list(range(10))
d = list(i for i in range(10))

print(a)
print(b)
print(c)
print(d)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
a = [i*2 for i in range(10)]
print(a)
b = [i+1 for i in range(10)]
print(b)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
a = [0 for i in range(10)]
print(a)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [ ]:
# if 조건을 추가해줌
a = [i for i in range(10) if i% 2 == 0]
print(a)

[0, 2, 4, 6, 8]

In [ ]:
a = [i + 100 for i in range(10) if i % 2 == 1]
print(a)

[101, 103, 105, 107, 109]

In [ ]:
a = [str(i) + '!' for i in range(3, 20, 2) if i % 3 == 0] #str(i) + 'i' 에서 i를 문자열로 바꾼 이유는 정수형은 문자열로 이어줄 수 없기 때문
print(a)

['3!', '9!', '15!']

In [ ]:
# 리스트 컴프리헨션으로 이중 for문 표현하기
a = []
for i in range(2, 10):
  for j in range(1, 10):
      a.append(i*j)
print(a)

b = [i*j for i in range(2,10) for j in range(1,10)]
print(b)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [ ]:
a = []
for i in range(5, 50, 5):
  if i % 10 == 0:
    a.append(str(i) + '!')
print(a)

b = [str(i) + '!' for i in range(5, 50, 5) if i % 10 == 0]
print(b)

['10!', '20!', '30!', '40!']
['10!', '20!', '30!', '40!']

In [ ]:
gugudan = []
for dan in range(2,10):
  danlist = []
  for num in range(1,10):
    danlist.append(dan * num)
  gugudan.append(danlist)
print(gugudan)

# 이렇게 하면 안됨
#danlist = [dan*num for dan in range(2, 10) for num in range(1,10)]
#gugudan.append(danlist)
#print(gugudan)

# 이렇게 해
gugudan2 = [[dan * num for num in range(1,10)] for dan in range(2, 10)]
print(gugudan2)

# 테스트
gugudan2 = [dan*num for num in range(1,10) for dan in range(2,10)]
print(gugudan2)
gugudan2 = [[dan*num for num in range(2,10)] for dan in range(1,10)]
print(gugudan2)

[[2, 4, 6, 8, 10, 12, 14, 16, 18], [3, 6, 9, 12, 15, 18, 21, 24, 27], [4, 8, 12, 16, 20, 24, 28, 32, 36], [5, 10, 15, 20, 25, 30, 35, 40, 45], [6, 12, 18, 24, 30, 36, 42, 48, 54], [7, 14, 21, 28, 35, 42, 49, 56, 63], [8, 16, 24, 32, 40, 48, 56, 64, 72], [9, 18, 27, 36, 45, 54, 63, 72, 81]]
[[2, 4, 6, 8, 10, 12, 14, 16, 18], [3, 6, 9, 12, 15, 18, 21, 24, 27], [4, 8, 12, 16, 20, 24, 28, 32, 36], [5, 10, 15, 20, 25, 30, 35, 40, 45], [6, 12, 18, 24, 30, 36, 42, 48, 54], [7, 14, 21, 28, 35, 42, 49, 56, 63], [8, 16, 24, 32, 40, 48, 56, 64, 72], [9, 18, 27, 36, 45, 54, 63, 72, 81]]
[2, 3, 4, 5, 6, 7, 8, 9, 4, 6, 8, 10, 12, 14, 16, 18, 6, 9, 12, 15, 18, 21, 24, 27, 8, 12, 16, 20, 24, 28, 32, 36, 10, 15, 20, 25, 30, 35, 40, 45, 12, 18, 24, 30, 36, 42, 48, 54, 14, 21, 28, 35, 42, 49, 56, 63, 16, 24, 32, 40, 48, 56, 64, 72, 18, 27, 36, 45, 54, 63, 72, 81]
[[2, 3, 4, 5, 6, 7, 8, 9], [4, 6, 8, 10, 12, 14, 16, 18], [6, 9, 12, 15, 18, 21, 24, 27], [8, 12, 16, 20, 24, 28, 32, 36], [10, 15, 20, 25, 30, 35, 40, 45], [12, 18, 24, 30, 36, 42, 48, 54], [14, 21, 28, 35, 42, 49, 56, 63], [16, 24, 32, 40, 48, 56, 64, 72], [18, 27, 36, 45, 54, 63, 72, 81]]

In [ ]:
# [[2*1=2, 2*2=4, ...], [3*1=3, 3*2=6, ...], ...]
gugudan = [[str(dan) + '*' + str(num) + '=' + str(dan*num) for num in range(1,10)] for dan in range(2, 10)]
print(gugudan)
gugudan = [["{0}*{1}={2}".format(dan, num, dan*num) for num in range(1,10)] for dan in range(2, 10)]
print(gugudan)

# 2*1=2 2*2=4 2*3=6 ... 2*9=18
# 3*1=3 3*2=6 3*3=9 ... 3*9=27
#
# 9*1=9 9*2=18          9*9=81
gugudan = '\n'.join([''.join(["{0}*{1}={2}\t".format(dan, num, dan*num) for num in range(1,10)]) for dan in range(2, 10)]) #join을 안해주면 리스트가 아닌 문자열 상태여서 오류가 난다.
print(gugudan)
gugudan = '\n'.join(['\t'.join(["{0}*{1}={2}".format(dan, num, dan*num) for num in range(1,10)]) for dan in range(2, 10)])
print(gugudan)

[['2*1=2', '2*2=4', '2*3=6', '2*4=8', '2*5=10', '2*6=12', '2*7=14', '2*8=16', '2*9=18'], ['3*1=3', '3*2=6', '3*3=9', '3*4=12', '3*5=15', '3*6=18', '3*7=21', '3*8=24', '3*9=27'], ['4*1=4', '4*2=8', '4*3=12', '4*4=16', '4*5=20', '4*6=24', '4*7=28', '4*8=32', '4*9=36'], ['5*1=5', '5*2=10', '5*3=15', '5*4=20', '5*5=25', '5*6=30', '5*7=35', '5*8=40', '5*9=45'], ['6*1=6', '6*2=12', '6*3=18', '6*4=24', '6*5=30', '6*6=36', '6*7=42', '6*8=48', '6*9=54'], ['7*1=7', '7*2=14', '7*3=21', '7*4=28', '7*5=35', '7*6=42', '7*7=49', '7*8=56', '7*9=63'], ['8*1=8', '8*2=16', '8*3=24', '8*4=32', '8*5=40', '8*6=48', '8*7=56', '8*8=64', '8*9=72'], ['9*1=9', '9*2=18', '9*3=27', '9*4=36', '9*5=45', '9*6=54', '9*7=63', '9*8=72', '9*9=81']]
[['2*1=2', '2*2=4', '2*3=6', '2*4=8', '2*5=10', '2*6=12', '2*7=14', '2*8=16', '2*9=18'], ['3*1=3', '3*2=6', '3*3=9', '3*4=12', '3*5=15', '3*6=18', '3*7=21', '3*8=24', '3*9=27'], ['4*1=4', '4*2=8', '4*3=12', '4*4=16', '4*5=20', '4*6=24', '4*7=28', '4*8=32', '4*9=36'], ['5*1=5', '5*2=10', '5*3=15', '5*4=20', '5*5=25', '5*6=30', '5*7=35', '5*8=40', '5*9=45'], ['6*1=6', '6*2=12', '6*3=18', '6*4=24', '6*5=30', '6*6=36', '6*7=42', '6*8=48', '6*9=54'], ['7*1=7', '7*2=14', '7*3=21', '7*4=28', '7*5=35', '7*6=42', '7*7=49', '7*8=56', '7*9=63'], ['8*1=8', '8*2=16', '8*3=24', '8*4=32', '8*5=40', '8*6=48', '8*7=56', '8*8=64', '8*9=72'], ['9*1=9', '9*2=18', '9*3=27', '9*4=36', '9*5=45', '9*6=54', '9*7=63', '9*8=72', '9*9=81']]
2*1=2	2*2=4	2*3=6	2*4=8	2*5=10	2*6=12	2*7=14	2*8=16	2*9=18
3*1=3	3*2=6	3*3=9	3*4=12	3*5=15	3*6=18	3*7=21	3*8=24	3*9=27
4*1=4	4*2=8	4*3=12	4*4=16	4*5=20	4*6=24	4*7=28	4*8=32	4*9=36
5*1=5	5*2=10	5*3=15	5*4=20	5*5=25	5*6=30	5*7=35	5*8=40	5*9=45
6*1=6	6*2=12	6*3=18	6*4=24	6*5=30	6*6=36	6*7=42	6*8=48	6*9=54
7*1=7	7*2=14	7*3=21	7*4=28	7*5=35	7*6=42	7*7=49	7*8=56	7*9=63
8*1=8	8*2=16	8*3=24	8*4=32	8*5=40	8*6=48	8*7=56	8*8=64	8*9=72
9*1=9	9*2=18	9*3=27	9*4=36	9*5=45	9*6=54	9*7=63	9*8=72	9*9=81
2*1=2	2*2=4	2*3=6	2*4=8	2*5=10	2*6=12	2*7=14	2*8=16	2*9=18
3*1=3	3*2=6	3*3=9	3*4=12	3*5=15	3*6=18	3*7=21	3*8=24	3*9=27
4*1=4	4*2=8	4*3=12	4*4=16	4*5=20	4*6=24	4*7=28	4*8=32	4*9=36
5*1=5	5*2=10	5*3=15	5*4=20	5*5=25	5*6=30	5*7=35	5*8=40	5*9=45
6*1=6	6*2=12	6*3=18	6*4=24	6*5=30	6*6=36	6*7=42	6*8=48	6*9=54
7*1=7	7*2=14	7*3=21	7*4=28	7*5=35	7*6=42	7*7=49	7*8=56	7*9=63
8*1=8	8*2=16	8*3=24	8*4=32	8*5=40	8*6=48	8*7=56	8*8=64	8*9=72
9*1=9	9*2=18	9*3=27	9*4=36	9*5=45	9*6=54	9*7=63	9*8=72	9*9=81

In [ ]:
# map
a = ['apple', 'banana', 'grape', 'mango', 'blackberry']

# 이 리스트에서 5글자인 과일 찾아서 대문자로 바꾸어 리스트로 거꾸로 출력
# ['MANGO', 'GRAPE', 'APPLE']

# list 내포
b = []
for i in a:
  if len(i) ==5:
    b.append(i)
print(b)

# map
for i in range(len(b)):
  b[i] = b[i].upper()
print(sorted(b)[::-1])

# 위에 것을 해보기
c = [i for i in a if len(i) == 5]

f = lambda x: x.upper()
c = list(map(f,c))
print(sorted(c)[::-1])

a = ['apple', 'banana', 'grape', 'mango', 'blackberry']
print(sorted(list(map(lambda x: x.upper(), [i for i in a if len(i) == 5])))[::-1])

['apple', 'grape', 'mango']
['MANGO', 'GRAPE', 'APPLE']
['MANGO', 'GRAPE', 'APPLE']
['MANGO', 'GRAPE', 'APPLE']

In [ ]:
# 딕셔너리와 반복문
d = dict(a = 1, b = 2 , c = 3)
print(d)

for i in d:
  print(i)

for k,v in d.items():
  print(k,v)

{'a': 1, 'b': 2, 'c': 3}
a
b
c
a 1
b 2
c 3

In [ ]:
# 딕셔너리 내포
keylist = ['a', 'b', 'c', 'd']
x = {k: v for k, v in dict.fromkeys(keylist).items()}
print(x)

# x = x{} 이 부분 선생님거 어떻게 돼있는지 보기

{'a': None, 'b': None, 'c': None, 'd': None}

In [ ]:
x = dict(a=10, b=20, c=30, d=40, e=50)

y = {}
for k, v in x.items():
  if v <= 30:
    y[k] = v
print(y)

z = {k : v for k, v in x.items() if v <= 30}
print(z)

{'a': 10, 'b': 20, 'c': 30}
{'a': 10, 'b': 20, 'c': 30}

In [ ]:
# 학생들 이름 한 줄로 입력 -> james john victor maria alex
# 학생들 성적 한 줄로 입력 -> 68 100 90 30 75
# -> 딕셔너리로 저장

# 이 학생들 중 70점 이상인 학생만 가져오기
# 이 학생들의 이름을 리스트로 저장해서 정렬하여 출력

name = input("학생들의 이름을 입력하세요 >>> ").split()
grade = map(int, input("학생들의 성적을 입력하세요").split())

a = dict(zip(name, grade))
b = {k : v for k, v in a.items() if v >= 70}

c = [i for i in b]
c.sort()
print(c)

# 선생님의 리스트 만들기
name2 = sorted(list(b.keys()))
print(name2)

print(sorted(list({k : v for k, v in a.items() if v >= 70}.keys())))

print(sorted(list({k : v for k, v in dict(zip(input("학생들의 이름을 입력하세요 >>> ").split(), map(int, input("학생들의 성적을 입력하세요").split()))).items() if v >= 70}.keys())))

학생들의 이름을 입력하세요 >>> james john victor maria alex
학생들의 성적을 입력하세요68 100 90 30 75
['alex', 'john', 'victor']
['alex', 'john', 'victor']
['alex', 'john', 'victor']
학생들의 이름을 입력하세요 >>> james john victor maria alex
학생들의 성적을 입력하세요68 100 90 30 75
['alex', 'john', 'victor']

In [ ]:
# 160페이지 1번
# 무지개의 1번째 색은 red 입니다.
# 무지개의 2번째 색은 orange 입니다.
# ...
# 무지개의 3번째 색은 purple 입니다.
color = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'purple']
for idx, val in enumerate(color, start = 1):
  print(f'무지개의 {idx}번째 색은 {val} 입니다.')

무지개의 1번째 색은 red 입니다.
무지개의 2번째 색은 orange 입니다.
무지개의 3번째 색은 yellow 입니다.
무지개의 4번째 색은 green 입니다.
무지개의 5번째 색은 blue 입니다.
무지개의 6번째 색은 indigo 입니다.
무지개의 7번째 색은 purple 입니다.

In [ ]:
# 180 페이지 1번
# 지역번호-국번-가입자개별번호 형식
# 어떤 형식의 전화번호를 입력하더라도 '국번'을 추출하여 출력
# 031-4567-8900 -> 4567
# 02-543-2109 -> 543

a = input("전화번호를 입력하세요 >>> ").split('-')

print(f'{a[0]}-{a[1]}-{a[2]} ->  {a[1]}')

전화번호를 입력하세요 >>> 02-2222-3333
02-2222-3333 ->  2222

In [ ]:
# 180페이지 2번
# 숫자 3자리 -숫자2자리-숫자5자리
# 1) 전체 글자 수를 점검: 12자리
# 2) 모든 하이픈의 위치가 올바른지 점검 = 하이픈 개수 2개, 000-00-00000
# 3) 하이픈을 제외하고 모두 숫자인지 점검 = isdecimal() -> 사용하는 방식, int() -> 오류아나면 숫자

a = input("사업자등록번호를 입력하세요 >>> ")

isnum = False

if len(a) == 12:
  print("글자 수는 12자리 입니다.")
  if a.count('-') == 2 and a[3] == '-' and a[6] == '-':
    print("하이픈의 위치와 개수가 올바릅니다.")
    b = a.split('-')
    print(b)
    for i in range(len(b)):
      print(i)
      print(b[i].isdecimal())
      if b[i].isdecimal() == True:
        isnum = True
      else:
        isnum = False
    if isnum == True:
      print("하이픈을 제외하고 모두 숫자입니다.")
    else:
      print("잘못 입력하셨습니다.")
  else:
    print("잘못 입력하셨습니다.")
else:
  print("잘못 입력하셨습니다.")

사업자등록번호를 입력하세요 >>> 012-34-56789
글자 수는 12자리 입니다.
하이픈의 위치와 개수가 올바릅니다.
['012', '34', '56789']
0
True
1
True
2
True
잘못 입력하셨습니다.