In [ ]:
for i in range(10):
  print('Hello World')

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

In [ ]:
for i in range(50):
  print(i, end=' ')

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49

In [ ]:
for hellopython in range(5):
  print(hellopython, end=' ')

0 1 2 3 4

In [ ]:
for i in range(5, 14):
  print('Hello', i)

Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10
Hello 11
Hello 12
Hello 13

In [ ]:
for i in range(1, 13, 2):
  print('Python', i)

Python 1
Python 3
Python 5
Python 7
Python 9
Python 11

In [ ]:
for i in range(10, -1, -1):
  print('Countdown', i)

Countdown 10
Countdown 9
Countdown 8
Countdown 7
Countdown 6
Countdown 5
Countdown 4
Countdown 3
Countdown 2
Countdown 1
Countdown 0

In [ ]:
for i in reversed(range(6)):
  print(i)

5
4
3
2
1
0

In [ ]:
a = [10, 30, 40, 60]
for i in a:
  print(i)

10
30
40
60

In [ ]:
b = 'java', 'python', 'c++'
for i in b:
  print(i)

java
python
c++

In [ ]:
c = 'coding'
for i in c:
  print(i, end=',')

c,o,d,i,n,g,

In [ ]:
num = int(input("입력할 수의 개수를 입력하세요 >>> "))
nlist = []
for i in range(1, num+1):
  a = int(input(f"수 {i}을 입력하세요 >>> "))
  nlist.append(a)
print("리스트를 뒤집은 결과는")
for i in reversed(range(num)):
  print(nlist[i], end=' ')

입력할 수의 개수를 입력하세요 >>> 3
수 1을 입력하세요 >>> 100
수 2을 입력하세요 >>> 200
수 3을 입력하세요 >>> 300
리스트를 뒤집은 결과는
300 200 100

In [ ]:
s = input("문자열을 입력해주세요 >>> ")
step = int(input("step 값을 입력해주세요 >>> "))
slist = []
for i in range(0, len(s), step):
  slist.append(s[i])
print('리스트를 출력한 결과는')
print(slist)

문자열을 입력해주세요 >>> programming
step 값을 입력해주세요 >>> 3
리스트를 출력한 결과는
['p', 'g', 'm', 'n']

In [ ]:
i = 0
while i < 10:
  print('Hello Python')
  i += 1

Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python

In [ ]:
a = ''
while len(a) < 10:
  b = input("문자열을 입력하세요 >>> ")
  a += b
  print(a)

문자열을 입력하세요 >>> a
a
문자열을 입력하세요 >>> hello
ahello
문자열을 입력하세요 >>> cat
ahellocat
문자열을 입력하세요 >>> !
ahellocat!

In [ ]:
for i in reversed(range(6)):
  print(i, end=' ')
print()

j = 5
while j >= 0:
  print(j, end=' ')
  j -= 1

5 4 3 2 1 0
5 4 3 2 1 0

In [ ]:
for i in reversed(range(3, 17, 4)):
  print(i, end=' ')
print()

j = 15
while j >= 3:
  print(j, end=' ')
  j -= 4

15 11 7 3
15 11 7 3

In [ ]:
import random
print(random.random())
print(random.randint(1, 6))

0.812614734010536
6

In [ ]:
i = 0
while i != 4:
  i = random.randint(1, 6)
  print(i)

1
3
5
5
1
2
4

In [ ]:
i = 2
j = 5
while j > 0:
  print(i, j)
  i *= 2
  j -= 1

2 5
4 4
8 3
16 2
32 1

In [ ]:
i = 0
while True:
  print(i)
  i += 1
  if i == 10:
    break

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(1000000):
  print(i)
  if i == 10:
    break

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(20):
  if i % 2 == 0:
    continue
  print(i, end=' ')

j = 0
while j < 20:
  j += 1
  if j % 2 == 0:
    continue
  print(j, end=' ')

1 3 5 7 9 11 13 15 17 19 1 3 5 7 9 11 13 15 17 19

In [ ]:
i = 0
while True:
  if i > 95:
    break
  if i % 10 != 5:
    i += 1
    continue
  print(i, end=' ')
  i += 1

# 5 15 25 35 45 55 65 75 85 95

5 15 25 35 45 55 65 75 85 95

In [ ]:
for i in range(5):
  print('i:', i, end=' ')
  for j in range(5):
    print('j:', j, end=' ')
  print()

i: 0 j: 0 j: 1 j: 2 j: 3 j: 4
i: 1 j: 0 j: 1 j: 2 j: 3 j: 4
i: 2 j: 0 j: 1 j: 2 j: 3 j: 4
i: 3 j: 0 j: 1 j: 2 j: 3 j: 4
i: 4 j: 0 j: 1 j: 2 j: 3 j: 4

In [ ]:
for i in range(5):
  print('i:', i, end=' ')
  for j in range(i+1):
    print('j:', j, end=' ')
  print()

i: 0 j: 0
i: 1 j: 0 j: 1
i: 2 j: 0 j: 1 j: 2
i: 3 j: 0 j: 1 j: 2 j: 3
i: 4 j: 0 j: 1 j: 2 j: 3 j: 4

In [ ]:
for i in range(4):
  for j in range(5):
    print('*', end='')
  print()

*****
*****
*****
*****

In [ ]:
for i in range(5):
  for j in range(i+1):
    print('*', end='')
  print()

*
**
***
****
*****

In [ ]:
for i in range(5):
  for j in range(4-i):
    print(' ', end='')
  for j in range(i+1):
    print('*', end='')
  print()

    *
   **
  ***
 ****
*****

In [ ]:
# 113페이지 6번
# 띄우기는 탭(\t)으로
# 바깥은 while, 안쪽은 for
# 2*1=2 3*1=3 4*1=4 ... 9*1=9
# 2*2=4 3*2=6 4*2=8 ... 9*2=18
#  ...   ...   ...         ...
# 2*9=18 3*9=27 4*9=36 ... 9*9=81
i = 1
while i < 10:
  for j in range(2, 10):
    print(f"{j}*{i}={j*i}\t", end='')
  print()
  i += 1

2*1=2	3*1=3	4*1=4	5*1=5	6*1=6	7*1=7	8*1=8	9*1=9
2*2=4	3*2=6	4*2=8	5*2=10	6*2=12	7*2=14	8*2=16	9*2=18
2*3=6	3*3=9	4*3=12	5*3=15	6*3=18	7*3=21	8*3=24	9*3=27
2*4=8	3*4=12	4*4=16	5*4=20	6*4=24	7*4=28	8*4=32	9*4=36
2*5=10	3*5=15	4*5=20	5*5=25	6*5=30	7*5=35	8*5=40	9*5=45
2*6=12	3*6=18	4*6=24	5*6=30	6*6=36	7*6=42	8*6=48	9*6=54
2*7=14	3*7=21	4*7=28	5*7=35	6*7=42	7*7=49	8*7=56	9*7=63
2*8=16	3*8=24	4*8=32	5*8=40	6*8=48	7*8=56	8*8=64	9*8=72
2*9=18	3*9=27	4*9=36	5*9=45	6*9=54	7*9=63	8*9=72	9*9=81

In [ ]:
# 130페이지 4번
exam = [99, 78, 100, 91, 81, 85, 54, 100, 71, 50]
# 각 점수에 대해서 5점씩 더하는데, 더한 값이 100이 넘지 X

for i in range(10):
  exam[i] += 5
  if exam[i] > 100:
    exam[i] = 100
print(exam)
# 출력 결과
# [100, 83, 100, 96, 86, 90, 59, 100, 76, 55]

[100, 83, 100, 96, 86, 90, 59, 100, 76, 55]

In [ ]:
# 130페이지 5번
# 1부터 99 까지의 수를 대상으로 369게임의 결과 출력하기
# 1 2 짝 4 5 짝 7 8 짝 10
# ...

for i in range(1, 100):
  ten = i // 10   # 십의자리
  one = i % 10    # 일의자리
  clap = 0
  if ten == 3 or ten == 6 or ten == 9:
    clap += 1
  if one == 3 or one == 6 or one == 9:
    clap += 1
  if clap == 0:
    print(i, end='\t')
  else:
    print('짝'*clap, end='\t')
  if i % 10 == 0:
    print()

1	2	짝	4	5	짝	7	8	짝	10
11	12	짝	14	15	짝	17	18	짝	20
21	22	짝	24	25	짝	27	28	짝	짝
짝	짝	짝짝	짝	짝	짝짝	짝	짝	짝짝	40
41	42	짝	44	45	짝	47	48	짝	50
51	52	짝	54	55	짝	57	58	짝	짝
짝	짝	짝짝	짝	짝	짝짝	짝	짝	짝짝	70
71	72	짝	74	75	짝	77	78	짝	80
81	82	짝	84	85	짝	87	88	짝	짝
짝	짝	짝짝	짝	짝	짝짝	짝	짝	짝짝

In [ ]:
# 141페이지 1번
# 현재 10000원을 가지고 있습니다. 얼마를 사용할 것인지 반복해서 입력받아 10000원을 모두 사용하세요.
# 0 이하의 금액은 사용할 수 없으며, 현재 가지고 있는 돈보다 더 큰 금액도 사용할 수 없습니다.

money = 10000
while money != 0:
  print(f"현재 {money}원이 있습니다.")
  a = int(input("사용할 금액 입력 >>> "))
  if a <= 0:
    print('0 이하의 금액은 사용할 수 없습니다.')
  elif a <= money:
    money -= a
  else:
    print("{0}원이 부족합니다.".format(a - money))
print('현재 0원이 있습니다.')

현재 10000원이 있습니다.
사용할 금액 입력 >>> 5000
현재 5000원이 있습니다.
사용할 금액 입력 >>> -5000
0 이하의 금액은 사용할 수 없습니다.
현재 5000원이 있습니다.
사용할 금액 입력 >>> 6000
1000원이 부족합니다.
현재 5000원이 있습니다.
사용할 금액 입력 >>> 4000
현재 1000원이 있습니다.
사용할 금액 입력 >>> 1000
현재 0원이 있습니다.