In [ ]:
def plus_ten(x):
  return x + 10

print(plus_ten(20))

30

In [ ]:
plus_ten = lambda x: x + 10
print(plus_ten(20))

30

In [ ]:
print((lambda x: x + 1)(5))

6

In [ ]:
# a = lambda x: y = 10; x + y
y = 10
a = lambda x: x + y
print(a(20))

30

In [ ]:
a = [1, 2, 3]
for i in range(len(a)):
  a[i] = a[i] + 10
print(a)

[11, 12, 13]

In [ ]:
def plus_ten3(x):
  return x + 10

a = [1, 2, 3]
print(list(map(plus_ten3, a)))

[11, 12, 13]

In [ ]:
a = [1, 2, 3]
print(list(map(lambda x: x + 10, a)))

[11, 12, 13]

In [ ]:
print((lambda : 1)())

1

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
b = list(map(lambda x: str(x) if x % 2 == 0 else x, a))
print(b)

[1, '2', 3, '4', 5, '6', 7, '8', 9, '10']

In [ ]:
# 3으로 나눴을 때 나머지가 0이면 문자열로
#                          1이면 실수로
#                          2면 그대로
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# 이렇게 길 경우, 그냥 def로 만들어라 -> 가독성이 훨씬 좋음
b = list(map(lambda x: str(x) if x % 3 == 0 else float(x) if x % 3 == 1 else x, a))
print(b)

[1.0, 2, '3', 4.0, 5, '6', 7.0, 8, '9', 10.0]

In [ ]:
a = [1, 2, 3, 4, 5]
b = [2, 4, 6, 8, 10]
c = list(map(lambda x, y: x * y, a, b))
print(c)

[2, 8, 18, 32, 50]

In [ ]:
a = [True, False, True, True, False]
b = [1, 2, 3, 4, 5]
c = list(map(lambda x, y: str(y) if x else y, a, b))
print(c)

['1', 2, '3', '4', 5]

In [ ]:
a = [3, 4, 5, 6, 7, 8, 9]
b = [1, 2, 3, 4, 5, 6, 7]
f = lambda x, y: x + y if x % 3 == 0 else x - y if x % 3 == 1 else x * y
c = list(map(f, a, b))


print(c)

[4, 2, 15, 10, 2, 48, 16]

In [ ]:
def f(x):
  return 6 <= x <= 10

a = [8, 5, 6, 2, 3, 10, 1, 4, 9, 7]
print(list(filter(f, a)))

[8, 6, 10, 9, 7]

In [ ]:
a = [8, 5, 6, 2, 3, 10, 1, 4, 9, 7]
print(list(filter(lambda x: 1 <= x <= 5, a)))

[5, 2, 3, 1, 4]

In [ ]:
from functools import reduce

def f2(x, y):
  return x + y

a = [1, 2, 3, 4, 5]
print(reduce(f2, a))

15

In [ ]:
from functools import reduce
a = [1, 2, 3, 4, 5]
print(reduce(lambda x, y: x + y, a))

15

In [ ]:
files = ['1.hwp', '10.jpg', '2.png', '3.gif', '4.png', '5.xlsx', '6.jpg', '7.docx', '8.jpg', '9.gif', 'jpg.xlsx']
f = lambda x: x.split('.')[-1] in ['jpg', 'png']
print(list(filter(f, files)))

['10.jpg', '2.png', '4.png', '6.jpg', '8.jpg']

In [ ]:
def ten_div(x):
  return 10 / x

print(ten_div(2))
print(ten_div(0))

5.0

ZeroDivisionError: division by zero

In [ ]:
try:
  x = int(input("수를 입력하세요 >>> "))
  print(10 / x)
except:
  print("예외 발생!")

수를 입력하세요 >>> 0
예외 발생!

In [ ]:
a = [10, 20, 30]

try:
  idx, x = map(int, input("인덱스 번호와 나눌 수를 입력하세요 >>> ").split())
  print(a[idx] / x)
except ZeroDivisionError:
  print('수를 0으로 나눌 수 없습니다.')
except IndexError:
  print('잘못된 인덱스입니다.')

인덱스 번호와 나눌 수를 입력하세요 >>> 3 0
잘못된 인덱스입니다.

In [ ]:
a = [10, 20, 30]

try:
  idx, x = map(int, input("인덱스 번호와 나눌 수를 입력하세요 >>> ").split())
  print(a[idx] / x)
except ZeroDivisionError as e:
  print('수를 0으로 나눌 수 없습니다.', e)
except IndexError as e:
  print('잘못된 인덱스입니다.', e)

인덱스 번호와 나눌 수를 입력하세요 >>> 3 2
잘못된 인덱스입니다. list index out of range

In [ ]:
# AttributeError
a = [1, 2, 3]
print(a.indax(2))

AttributeError: 'list' object has no attribute 'indax'

In [ ]:
try:
  x = int(input())
  y = 10 / x
except:
  print('예외발생!')
else:
  print(y)
finally:
  print('종료')

2
5.0
종료

In [ ]:
try:
  x = int(input("3의 배수 입력 >>> "))
  if x % 3 != 0:
    raise ArithmeticError('3의 배수가 아닙니다.')
  print(x)
except Exception as e:
  print('예외 발생!', e)

3의 배수 입력 >>> 2
예외 발생! 3의 배수가 아닙니다.

In [ ]:
def check3():
  x = int(input("3의 배수 입력 >>> "))
  if x % 3 != 0:
    raise ArithmeticError("3의 배수가 아닙니다.")
  print(x)

try:
  check3()
except Exception as e:
  print('예외 발생!', e)

3의 배수 입력 >>> 5
예외 발생! 3의 배수가 아닙니다.

In [ ]:
def multiple3():
  try:
    x = int(input("3의 배수 입력 >>> "))
    if x % 3 != 0:
      raise ArithmeticError("3의 배수가 아닙니다.")
    print(x)
  except Exception as e:
    print('함수 내 오류 발생!', e)
    raise

try:
  multiple3()
except Exception as e:
  print('메인 스트림 오류 발생!', e)

3의 배수 입력 >>> 2
함수 내 오류 발생! 3의 배수가 아닙니다.
메인 스트림 오류 발생! 3의 배수가 아닙니다.

In [ ]:
try:
  x = int(input("3의 배수 입력 >>> "))
  assert x % 3 == 0, "3의 배수가 아닙니다."
  print(x)
except Exception as e:
  print("예외 발생!", e)

3의 배수 입력 >>> 4
예외 발생! 3의 배수가 아닙니다.

In [ ]:
class NotThreeMultipleException(Exception):
  pass
  # def __init__(self):
    # super().__init__("3의 배수가 아닙니다.")

def multi3():
  try:
    x = int(input("3의 배수 입력 >>> "))
    if x % 3 != 0:
      raise NotThreeMultipleException("!")
    print(x)
  except Exception as e:
    print("예외 발생!", e)

multi3()

3의 배수 입력 >>> 4
예외 발생! !

In [ ]:
class NotPalindromeError(Exception):
  def __init__(self):
    super().__init__("팰린드롬이 아닙니다.")

def palindrome(word):
  if word == word[::-1]:
    print(word)
  else:
    raise NotPalindromeError

try:
  word = input("단어 입력 >>> ")
  palindrome(word)
except NotPalindromeError as e:
  print("예외 발생!", e)

단어 입력 >>> hello
예외 발생! 팰린드롬이 아닙니다.