In [2]:
a = [10, 20, 30]
print(a)
a.append(40)
print(a)

[10, 20, 30]
[10, 20, 30, 40]

In [4]:
b = list() # b = []
b.append(100)
print(b)
b.append('Hello')
print(b)

[100]
[100, 'Hello']

In [6]:
c = [1, 2, 3]
c.append([4, 5])
print(c)

[1, 2, 3, [4, 5]]

In [7]:
c = [1, 2, 3]
c.extend([4, 5])
print(c)

[1, 2, 3, 4, 5]

In [8]:
d = [1, 2, 3]
d.extend((4, 5))
print(d)

[1, 2, 3, 4, 5]

In [9]:
d = [1, 2, 3]
d.extend('python')
print(d)

[1, 2, 3, 'p', 'y', 't', 'h', 'o', 'n']

In [10]:
d = [1, 2, 3]
d.extend(range(4, 10))
print(d)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
d = [1, 2, 3]
d.append('python')
print(d)

[1, 2, 3, 'python']

In [12]:
d = [1, 2, 3]
d.insert(2, 100)
print(d)

[1, 2, 100, 3]

In [13]:
d = [1, 2, 3]
d.insert(3, 100)
print(d)

[1, 2, 3, 100]

In [14]:
d = [1, 2, 3]
d.insert(4, 100)
print(d)

[1, 2, 3, 100]

In [15]:
d = [1, 2, 3]
d.insert(1, [500, 600])
print(d)

[1, [500, 600], 2, 3]

In [16]:
# 슬라이싱을 이용해서 [1, 500, 600, 2, 3]
d = [1, 2, 3]
d[1:1] = [500, 600]
print(d)

[1, 500, 600, 2, 3]

In [17]:
d = [1, 2, 3]
d[1:1] = (100, 200)
print(d)

[1, 100, 200, 2, 3]

In [18]:
d = [1, 2, 3]
d[1:1] = 'python'
print(d)

[1, 'p', 'y', 't', 'h', 'o', 'n', 2, 3]

In [19]:
a = [10, 20, 30]
print(a.pop())
print(a)

30
[10, 20]

In [20]:
a = [10, 20, 21, 30]
print(a.pop(2))
print(a)

21
[10, 20, 30]

In [21]:
a = [10, 20, 21, 30]
del a[2]
print(a)

[10, 20, 30]

In [25]:
a = [10, 20, 30]
print(a.pop(-2))
print(a)

20
[10, 30]

In [26]:
a = [10, 20, 21, 30]
a.remove(21)
print(a)

[10, 20, 30]

In [28]:
a = [10, 21, 20, 21, 21, 30]
a.remove(21)
print(a)

[10, 20, 21, 21, 30]

In [32]:
a = [10, 20, 30]
if 21 in a:
  a.remove(21)
print(a)

[10, 20, 30]

In [40]:
a = [10, 15, 30, 20, 15, 40]
print(a.index(30))
print(a.index(15))
print(a.count(15))

2
1
2

In [39]:
a = 'python'
print(a.index('y'))
print(a.find('m'))

1
-1

In [43]:
a = [1, 2, 3, 4]
print(a)
a.reverse()
print(a)

[1, 2, 3, 4]
[4, 3, 2, 1]

In [45]:
a = [3, 1, 4, 2]
print(a)
a.sort()
print(a)

[3, 1, 4, 2]
[1, 2, 3, 4]

In [46]:
a = [3, 1, 4, 2]
print(a)
a.sort(reverse=True)
print(a)

[3, 1, 4, 2]
[4, 3, 2, 1]

In [47]:
a = [3, 1, 4, 2]
print(a)
a = sorted(a)
print(a)

[3, 1, 4, 2]
[1, 2, 3, 4]

In [49]:
a = [3, 1, 4, 2]
print(a)
a = sorted(a, reverse=True)
print(a)

[3, 1, 4, 2]
[4, 3, 2, 1]

In [50]:
a = [3, 3.14, 2.71, 1.414]
a.sort()
print(a)

[1.414, 2.71, 3, 3.14]

In [55]:
a = ['hello', '한글', 'Python', 'java']
a.sort()
print(a)
a.clear()
print(a)

['Python', 'hello', 'java', '한글']
[]

In [56]:
a = ['hello', '한글', 'Python', 'java']
del a[:]
print(a)

[]

In [66]:
a = [1, 2, 3]
b = []
print(len(a))
print(not len(a))

print(len(b))
print(not len(b))

print(a)
print(not a)

print(b)
print(not b)
print(not not b)

3
False
0
True
[1, 2, 3]
False
[]
True
False

In [72]:
a = 1
b = a
print(a, b)
print(a == b)
print(a is b)
b = 2
print(a, b)

1 1
True
True
1 2

In [78]:
a = [1, 2, 3, 4]
b = a
print(a, b)
print(a == b)
print(a is b)
print(id(a), id(b))
b[2] = 100
print(a, b)

[1, 2, 3, 4] [1, 2, 3, 4]
True
True
139327553704320 139327553704320
[1, 2, 100, 4] [1, 2, 100, 4]

In [83]:
a = [1, 2, 3, 4]
b = a.copy()
print(a, b)
print(a == b)
print(a is b)
print(id(a), id(b))
b[2] = 100
print(a, b)

[1, 2, 3, 4] [1, 2, 3, 4]
True
False
139327551222656 139327551213888
[1, 2, 3, 4] [1, 2, 100, 4]

In [86]:
a = [1, 2, [5, 6], 7]
b = a
print(a, b)
print(a == b, a is b)
print(id(a), id(b))
b[2][1] = 100
print(a, b)

[1, 2, [5, 6], 7] [1, 2, [5, 6], 7]
True True
139327551221696 139327551221696
[1, 2, [5, 100], 7] [1, 2, [5, 100], 7]

In [87]:
a = [1, 2, [5, 6], 7]
b = a.copy()
print(a, b)
print(a == b, a is b)
print(id(a), id(b))
b[2][1] = 100
print(a, b)

[1, 2, [5, 6], 7] [1, 2, [5, 6], 7]
True False
139327553668992 139327551214592
[1, 2, [5, 100], 7] [1, 2, [5, 100], 7]

In [88]:
import copy
a = [1, 2, [5, 6], 7]
b = copy.deepcopy(a)
print(a, b)
print(a == b, a is b)
print(id(a), id(b))
b[2][1] = 100
print(a, b)

[1, 2, [5, 6], 7] [1, 2, [5, 6], 7]
True False
139327552110528 139327552096000
[1, 2, [5, 6], 7] [1, 2, [5, 100], 7]

In [89]:
name = ['james', 'maria', 'grace']
score = [100, 90, 80]

grade = {'james':100, 'maria':90, 'grace':80}
print(grade)

{'james': 100, 'maria': 90, 'grace': 80}

In [91]:
grade = {'james':100, 'maria':90,
         'grace':80, 'james':70}
print(grade)
print(grade['james'])

{'james': 70, 'maria': 90, 'grace': 80}
70

In [92]:
x = {100: 'a', True: 1, 3.14: [100, 10]}
print(x)

{100: 'a', True: 1, 3.14: [100, 10]}

In [93]:
x = {[10, 20]: 1}
print(x)

TypeError: unhashable type: 'list'

In [94]:
a = {}
b = dict()
print(a)
print(b)

{}
{}

In [95]:
name = ['james', 'maria', 'grace']
score = [100, 90, 80]

grade = dict(zip(name, score))
print(grade)

{'james': 100, 'maria': 90, 'grace': 80}

In [100]:
grade = dict(james=100, maria=90, grace=80)
print(grade)

{'james': 100, 'maria': 90, 'grace': 80}

In [98]:
grade = dict([('james', 100), ('maria', 90),
              ('grace', 80)])
print(grade)

{'james': 100, 'maria': 90, 'grace': 80}

In [101]:
a, b, c, d, e = input().split()

key1 = [a, b, c, d, e]
val1 = [len(a), len(b), len(c), len(d), len(e)]
dic1 = dict(zip(key1, val1))
print(dic1)

dic3 = dict([(a, len(a)), (b, len(b)),
             (c, len(c)), (d, len(d)),
             (e, len(e))])
print(dic3)

apple orange coffee rainbow hi
{'apple': 5, 'orange': 6, 'coffee': 6, 'rainbow': 7, 'hi': 2}
{'apple': 5, 'orange': 6, 'coffee': 6, 'rainbow': 7, 'hi': 2}

In [109]:
grade = dict(james=100, maria=90, grace=80)
print(grade)

grade['victor'] = 70
print(grade)

if 'python' in grade:
  print(grade['python'])

print('james' in grade)
print('python' in grade)

grade.setdefault('alex')
print(grade)
grade.setdefault('daniel', 85)
print(grade)

grade['james'] = 70
print(grade)

{'james': 100, 'maria': 90, 'grace': 80}
{'james': 100, 'maria': 90, 'grace': 80, 'victor': 70}
True
False
{'james': 100, 'maria': 90, 'grace': 80, 'victor': 70, 'alex': None}
{'james': 100, 'maria': 90, 'grace': 80, 'victor': 70, 'alex': None, 'daniel': 85}
{'james': 70, 'maria': 90, 'grace': 80, 'victor': 70, 'alex': None, 'daniel': 85}

In [114]:
x = dict(zip(list('abcd'), [10, 20, 30, 40]))
print(x)
x.update(a = 80)
print(x)
x.update(e = 50)
print(x)
x.update(a = 100, f = 60)
print(x)
x.update({1: 'a'})
print(x)

{'a': 10, 'b': 20, 'c': 30, 'd': 40}
{'a': 80, 'b': 20, 'c': 30, 'd': 40}
{'a': 80, 'b': 20, 'c': 30, 'd': 40, 'e': 50}
{'a': 100, 'b': 20, 'c': 30, 'd': 40, 'e': 50, 'f': 60}
{'a': 100, 'b': 20, 'c': 30, 'd': 40, 'e': 50, 'f': 60, 1: 'a'}

In [121]:
x = dict(zip(list('abcd'), [10, 20, 30, 40]))
print(x)
print(x.pop('b'))
print(x)
print(x.pop('e', 100))
print(x)
del x['d']
print(x)

{'a': 10, 'b': 20, 'c': 30, 'd': 40}
20
{'a': 10, 'c': 30, 'd': 40}
100
{'a': 10, 'c': 30, 'd': 40}
{'a': 10, 'c': 30}

In [124]:
x = dict(zip(list('abcd'), [10, 20, 30, 40]))
print(x)
print(x.popitem())
print(x)
x.clear()
print(x)

{'a': 10, 'b': 20, 'c': 30, 'd': 40}
('d', 40)
{'a': 10, 'b': 20, 'c': 30}
{}

In [129]:
x = dict(zip(list('abcd'), [10, 20, 30, 40]))
print(x)
print(list(x.keys()))
print(list(x.values()))
print(list(x.items()))

{'a': 10, 'b': 20, 'c': 30, 'd': 40}
['a', 'b', 'c', 'd']
[10, 20, 30, 40]
[('a', 10), ('b', 20), ('c', 30), ('d', 40)]

In [132]:
subject = ['python', 'java', 'english', 'math']
score = [100, 90, 70, 40]
james = dict(zip(subject, score))
# james 딕셔너리를 이용해서 전체 과목의 평균
# sum(리스트) -> 리스트에 있는 요소의 합
print(sum(james.values())/len(james))

75.0

In [133]:
# 49페이지 5번
# 금요일: 탕수육
# 토요일: 유산슬
# 일요일: 팔보채
key1 = ['금요일', '토요일', '일요일']
val1 = ['탕수육', '유산슬', '팔보채']
dic1 = dict(zip(key1, val1))

dic2 = dict(금요일='탕수육', 토요일='유산슬',
            일요일='팔보채')

dic3 = dict([('금', '탕'), ('토', '유'),
             ('일', '팔')])

print(dic1)
print(dic2)
print(dic3)

{'금요일': '탕수육', '토요일': '유산슬', '일요일': '팔보채'}
{'금요일': '탕수육', '토요일': '유산슬', '일요일': '팔보채'}
{'금': '탕', '토': '유', '일': '팔'}

In [142]:
# 66페이지 3번
# key값: flower, fly, floor
# value값: 꽃, 날다, 바닥
key1 = ['flower', 'fly', 'floor']
val1 = ['꽃', '날다', '바닥']
english_dict = dict(zip(key1, val1))

# 영어 단어를 입력하세요 >>> _____
word = input("영어 단어를 입력하세요 >>> ")

print(word, ":", english_dict.get(word, "사전에 없는 단어입니다."))
# 입력한 값이 있다면: 영단어: 한국어
# 입력한 값이 없다면: 영단어: 사전에 없는 단어입니다.

if word in english_dict:
  print(word, ":", english_dict[word])
if word not in english_dict:
  print(word, ": 사전에 없는 단어입니다.")

kindex = key1.index(word)
print(word, ":", val1[kindex])

영어 단어를 입력하세요 >>> flower
flower : 꽃
flower : 꽃
flower : 꽃