1. 아래와 같은 리스트가 있을 때, 출력 결과가 다음과 같도록 리스트 함수와 연결 연산자(+)를 이용해 코드를 작성해주세요.
```
a = [1, 3, 2, 4]
b = [7, 8, 9, 10, 11, 12]
c = [100, 200, 300]
d = ???
print(d)
```

```
< 출력 결과 >
[7, 8, 300, 200, 100, 9, 10, 11, 12, 4, 3, 2, 1]
```

In [3]:
a = [1, 3, 2, 4]
b = [7, 8, 9, 10, 11, 12]
c = [100, 200, 300]

a.sort(reverse=True)
c.reverse()

b[2:2] = c
print(b + a)

[7, 8, 300, 200, 100, 9, 10, 11, 12, 4, 3, 2, 1]

2. 아래와 같이 학생의 이름과 성적이 주어질 때, 이를 입력받아 하나의 딕셔너리로 만드는 코드를 작성해주세요.

```
< 입력 >
james maria grace victor
96.3 23.1 100 87.4
```

In [4]:
names = input("학생 이름 입력 >>> ").split()
score = list(map(float, input("성적 입력 >>> ").split()))

grade = dict(zip(names, score))
print(grade)

학생 이름 입력 >>> james maria grace victor
성적 입력 >>> 96.3 23.1 100 87.4
{'james': 96.3, 'maria': 23.1, 'grace': 100.0, 'victor': 87.4}