1. 중첩 반복문을 이용해 사진과 같은 형태의 별을 출력해주세요. (단, 바깥쪽은 for, 안쪽은 while 사용)

```
*
 **
  ***
   ****
    *****
```

In [ ]:
# i = 0 -> 공백 0개, 별 1개
# i = 1 -> 공백 1개, 별 2개
# i = n -> 공백 n개, 별 n+1개
for i in range(5):
  j = 0
  while j < i:
    print(' ', end='')
    j += 1

  j = 0
  while j <= i:
    print('*', end='')
    j += 1
  print()

*
 **
  ***
   ****
    *****

In [ ]:
for i in range(5):
  for j in range(i):
    print(' ', end='')
  for j in range(i+1):
    print('*', end='')
  print()

*
 **
  ***
   ****
    *****

In [ ]:
for i in range(5):
  print(' '*i + '*'*(i+1))

*
 **
  ***
   ****
    *****

2. 문자열 1개와 정수 1개가 주어집니다. 문자열의 각 문자를 정수 횟수만큼 반복되는 문자열을 출력해주세요.

<예시1>
```
문자열을 입력하세요 >>> python
정수를 입력하세요 >>> 3
출력 결과는 pppyyyttthhhooonnn
```

In [ ]:
s = input("문자열을 입력하세요 >>> ")
n = int(input("정수를 입력하세요 >>> "))

for i in s:
  for j in range(n):
    print(i, end='')
print()

for i in s:
  print(i*n, end='')