In [ ]:
print(divmod(7, 3))

(2, 1)

In [ ]:
def addsub(num1, num2):
  return num1+num2, num1-num2

a, b = addsub(7, 3)
print(a, b)

c = addsub(10, 5)
print(c)

10 4
(15, 5)

In [ ]:
def arith(num1, num2):
  return [num1+num2, num1-num2, num1*num2, num1//num2]

a = arith(7, 3)
print(a)

b, c, d, e = arith(7, 3)
print(b, c, d, e)

[10, 4, 21, 2]
10 4 21 2

In [ ]:
def print3(a, b, c):
  print(a)
  print(b)
  print(c)

print3(10, 20, 30)
print3(*[10, 20, 30])
d = [5, 10, 15]
print3(*d)

e = (5, 6, 7)
print3(*e)

f = [10, 20, 30, 40]
print3(*f)

10
20
30
10
20
30
5
10
15
5
6
7

TypeError: print3() takes 3 positional arguments but 4 were given

In [ ]:
def print_num(*args):
  for i in args:
    print(i, end=' ')
  print()

print_num(1, 2)
print_num(1, 2, 3)
print_num(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

print_num([1, 2, 3])
print_num(*[1, 2, 3])

print_num((4, 5, 6))
print_num(*(4, 5, 6))

1 2
1 2 3
1 2 3 4 5 6 7 8 9 10
[1, 2, 3]
1 2 3
(4, 5, 6)
4 5 6

In [ ]:
def print_num2(a, *args):
  print(a)
  print(args)

print_num2(1)
print_num2(1, 2, 3)

1
()
1
(2, 3)

In [ ]:
def print_num3(a, b, *args):
  print(a)
  print(b)
  print(args)

# print_num3(1)
print_num3(1, 2)
print_num3(1, 2, 3, 4)

1
2
()
1
2
(3, 4)

In [ ]:
def print_num4(a, *args, b):
  print(a)
  print(b)
  print(args)

TypeError: print_num4() missing 1 required keyword-only argument: 'b'

In [ ]:
def sumMultiply(a, *args):
  return sum(args) * a

a = sumMultiply(4, 1, 2, 3, 4)
print(a)

40

In [ ]:
def info(name, age, address):
  print('이름:', name)
  print('나이:', age)
  print('주소:', address)

info('kim', 30, '서울')
info('서울', 'kim', 30)
info(name='lee', age=25, address='수원')
info(address='수원', name='lee', age=25)

이름: kim
나이: 30
주소: 서울
이름: 서울
나이: kim
주소: 30
이름: lee
나이: 25
주소: 수원
이름: lee
나이: 25
주소: 수원

In [ ]:
def info2(**kwargs):
  print(kwargs)
  for k, v in kwargs.items():
    print(k, v)

d = dict(이름='kim', 나이=30, 주소='서울')
info2(**d)
info2(이름='lee', 나이=25, 주소='수원')

{'이름': 'kim', '나이': 30, '주소': '서울'}
이름 kim
나이 30
주소 서울
{'이름': 'lee', '나이': 25, '주소': '수원'}
이름 lee
나이 25
주소 수원

In [ ]:
def info3(a, **kwargs):
  print(a)
  print(kwargs)

info3('hong')
info3('hong', age=30)
info3('hong', age=30, address='성남')
info3('hong', name='kim', age=30, address='성남')

info3(**{'name':'kim', 'age':30, 'address':'하남'})

def info4(**kwargs, a):
  print(a)
  print(kwargs)

info4(age=30, address='성남', 'hong')

SyntaxError: invalid syntax (<ipython-input-45-d22ef84c8296>, line 12)

In [ ]:
def print_custom(a, *args, **kwargs):
  print(a)
  print(args)
  print(kwargs)

print_custom(1, 2, 3, 4, 5, name='lee', age=30)

1
(2, 3, 4, 5)
{'name': 'lee', 'age': 30}

In [ ]:
print(1, 2, 3, sep=':', end='!') # 1:2:3!

1:2:3!

In [ ]:
def print_custom2(*args, **kwargs):
  print(*args, **kwargs)

print_custom2(1, 2, 3, sep=':', end='!')

1:2:3!

In [ ]:
def scoreAdd(n, *args, **kwargs):
  d = {}
  for name in args:
    d[name] = {}
  for name in args:
    for k, v in kwargs.items():
      s = int(input(f"{name}의 {k} 성적 입력 >>> "))
      d[name][k] = s
  return d

def getNameScore(name, **kwargs):
  if name not in kwargs:
    return 0
  return sum(kwargs[name].values()) / len(kwargs[name])

a = scoreAdd(3, 'James', 'Kim', 'Lee', python=0, java=0, cpp=0, ai=0)
print(a)
name = input("평균을 알고싶은 학생 이름 입력 >>> ")
print(getNameScore(name, **a))

James의 python 성적 입력 >>> 100
James의 java 성적 입력 >>> 90
James의 cpp 성적 입력 >>> 80
James의 ai 성적 입력 >>> 70
Kim의 python 성적 입력 >>> 60
Kim의 java 성적 입력 >>> 50
Kim의 cpp 성적 입력 >>> 40
Kim의 ai 성적 입력 >>> 30
Lee의 python 성적 입력 >>> 20
Lee의 java 성적 입력 >>> 10
Lee의 cpp 성적 입력 >>> 0
Lee의 ai 성적 입력 >>> 10
{'James': {'python': 100, 'java': 90, 'cpp': 80, 'ai': 70}, 'Kim': {'python': 60, 'java': 50, 'cpp': 40, 'ai': 30}, 'Lee': {'python': 20, 'java': 10, 'cpp': 0, 'ai': 10}}
평균을 알고싶은 학생 이름 입력 >>> James
85.0

In [ ]:
# 200페이지 2번
# 키 - 과목명, 값 - 점수인 marks 딕셔너리를 전달하면 해당 딕셔너리에 저장된 점수들의 평균을 반환하는 함수 구현
# 함수 정의
#  - 반환값: 평균
#  - 함수 이름: get_average()
#  - 매개변수: 딕셔너리 marks

def get_average(marks):
  return sum(marks.values()) / len(marks)

marks = {'국어': 90, '영어': 80, '수학': 85}
average = get_average(marks)
print('평균은 {}점입니다'.format(average))

평균은 85.0점입니다

In [ ]:
# 200페이지 3번
# 1) 축의금을 낸 사람의 이름과 그 사람이 낸 축의금을 딕셔너리에 저장
# 2) 전체 축의금의 합계
# gift() 함수
# - 반환값: 없음
# - 매개변수: 딕셔너리 dic, 사람 who, 축의금 money

total = 0
def gift(dic, who, money):
  global total # 함수 내에서 함수 바깥에 있는 변수를 사용하기 위해서 선언
  dic[who] = money
  total += money

wedding = {}
gift(wedding, '영희', 5)
gift(wedding, '철수', 3)
gift(wedding, '이모', 10)
print('축의금 명단: {}'.format(wedding)) # 축의금 명단: {'영희': 5, '철수': 3, '이모': 10}
print('전체 축의금: {}'.format(total))   # 전체 축의금: 18

축의금 명단: {'영희': 5, '철수': 3, '이모': 10}
전체 축의금: 18

In [ ]:
# 238페이지 1번
# nation 리스트의 내용을 이용하여 nation.txt 파일을 생성하세요
nation = ['그리스', '아테네', '독일', '베를린', '러시아', '모스크바', '미국', '워싱턴']

with open('nation.txt', 'w') as f:
  for i in range(0, 8, 2):
    f.write("{}-{}\n".format(nation[i], nation[i+1]))
# <nation.txt 내용>
# 그리스-아테네
# 독일-베를린
# 러시아-모스크바
# 미국-워싱턴

In [ ]:
# 238페이지 2번
# 연락처.txt 파일에서 전화번호가 011로 시작하는 모든 연락처를 010으로 수정해서 연락처2.txt로 저장
# <연락처.txt>
# 김나라 목포시 010-1111-1111
# 이나라 서울시 011-2222-2222
# 박나라 부산시 011-3333-3333
# 송나라 대전시 010-4444-4444

newc = []
contact = []

with open('연락처.txt', 'r') as f:
  contact = f.readlines()
print(contact)

for info in contact:
  infos = info.split()
  if infos[2][:3] == '011':
    infos[2] = infos[2].replace('011-', '010-')
  newc.append(' '.join(infos))

print(newc)

with open('연락처2.txt', 'w') as f:
  for i in newc:
    f.write(i+"\n")

# <연락처2.txt>
# 김나라 목포시 010-1111-1111
# 이나라 서울시 010-2222-2222
# 박나라 부산시 010-3333-3333
# 송나라 대전시 010-4444-4444

['김나라 목포시 010-1111-1111\n', '이나라 서울시 011-2222-2222\n', '박나라 부산시 011-3333-3333\n', '송나라 대전시 010-4444-4444']
['김나라 목포시 010-1111-1111', '이나라 서울시 010-2222-2222', '박나라 부산시 010-3333-3333', '송나라 대전시 010-4444-4444']