In [2]:
a = [10, 20, 30]
print(a)
a.append(40)
print(a)

[10, 20, 30]
[10, 20, 30, 40]

In [7]:
b = list() # b = [] 와 같다
b.append(100)
print(b)
b.append("Hello")
print(b)

[100]
[100, 'Hello']

In [9]:
c =[1, 2, 3]
c.append([4,5]) #리스트가 통째로 추가
print(c)

[1, 2, 3, [4, 5]]

In [10]:
c = [1, 2, 3]
c.extend([4,5]) #리스트가 풀려서 추가
print(c)

[1, 2, 3, 4, 5]

In [11]:
d = [1, 2, 3]
d.extend((4,5)) # 튜플 추가 가능
print(d)

[1, 2, 3, 4, 5]

In [12]:
d = [1, 2, 3]
d.extend('python') # 문자 추가 가능
print(d)

[1, 2, 3, 'p', 'y', 't', 'h', 'o', 'n']

In [13]:
d = [1, 2, 3]
d.extend(range(4,10))
print(d)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
d = [1, 2, 3]
d.append('python')
print(d)

[1, 2, 3, 'python']

In [15]:
d = [1, 2, 3]
d.insert(2,100) #2번 자리에 100 추가
print(d)

[1, 2, 100, 3]

In [16]:
d = [1, 2, 3]
d.insert(3, 100)
print(d)

[1, 2, 3, 100]

In [17]:
d = [1, 2, 3]
d.insert(4,100) #인덱스 번호가 길이보다 큰 경우엔 그냥 마지막 순서로 들어간다
print(d)

[1, 2, 3, 100]

In [19]:
d = [1, 2, 3]
d.insert(1,[500, 600]) #이렇게 하면 묶여서 들어감
print(d)

[1, [500, 600], 2, 3]

In [22]:
#슬라이싱을 이용해서 [1, 500, 600, 2, 3] insert를 대체한다
d = [1, 2, 3]
d[1:1] = [500,600]
print(d)

[1, 500, 600, 2, 3]

In [23]:
d = [1,2,3]
d[1:1] = (100, 200)
print(d)

[1, 100, 200, 2, 3]

In [24]:
d = [1, 2, 3]
d[1:1] = 'python'
print(d)

[1, 'p', 'y', 't', 'h', 'o', 'n', 2, 3]

In [25]:
a = [10, 20, 30]
print(a.pop()) #pop을 하면 값을 가져온다 , del a[인덱스]는 값을 가져오지 않고 삭제한다
print(a)

30
[10, 20]

In [26]:
a = [10, 20, 21, 30]
print(a.pop(2))
print(a)

21
[10, 20, 30]

In [27]:
a = [10, 20, 21, 30]
del a[2]
print(a)

[10, 20, 30]

In [28]:
a = [10, 20, 30]
print(a.pop(5)) #인덱스 번호가 범위를 벗어나면 오류가 발생한다
print(a)

IndexError: pop index out of range

In [29]:
a = [10, 20, 30]
print(a.pop(-2)) #음수 인덱스 가능
print(a)

20
[10, 30]

In [30]:
a = [10, 20, 21, 30]
a.remove(21) #remove는 반환하는게 없다
print(a)

[10, 20, 30]

In [31]:
a = [10, 21, 20, 21, 30]
a.remove(21) #삭제할 값이 여러개라면 제일 앞의 값을 제거한다
print(a)

[10, 20, 21, 30]

In [33]:
a = [10, 20, 30]
if 21 in a: #제거할 값이 없을 때의 error 방지를 위한 조건문
  a.remove(21) #제거할 값이 없다면 error 발생 , 조건문인 경우 공백 2개를 띄워준다
print(a)

[10, 20, 30]

In [37]:
a = [10, 15, 30, 20, 15, 40]
print(a.index(30))
print(a.index(15)) #여러 값이 있다면 제일 앞의 값의 인덱스 출력
#print(a.index(50)) #값이 존재하지 않다면 ValueError 발생
#print(a.find(50)) #마찬가지 error
print(a.count(15))

2
1
2

In [38]:
a = 'python'
print(a.index('y'))
print(a.find('m')) #find함수는 문자열에서 찾는게 없을 때 -1 출력

1
-1

In [40]:
a = [1, 2, 3, 4]
print(a)
a.reverse() # 요소의 순서를 거꾸로 뒤집음, 단독으로 실행해야 한다.
print(a)

[1, 2, 3, 4]
[4, 3, 2, 1]

In [42]:
a = [3, 1, 4, 2]
print(a)
a.sort() #오름차순으로 정렬하는 함수, 단독으로 실행해야 한다.
print(a)

[3, 1, 4, 2]
[1, 2, 3, 4]

In [43]:
a = [3, 1, 4, 2]
print(a)
a.sort(reverse = True) #내림차순으로 정렬하는 함수, 단독으로 실행해야 한다.
print(a)

[3, 1, 4, 2]
[4, 3, 2, 1]

In [44]:
a = [3, 1, 4, 2]
print(a)
a =sorted(a)  # a.sort()와 동일, 방법을 잘 구분하기
print(a)

[3, 1, 4, 2]
[1, 2, 3, 4]

In [45]:
a = [3, 1, 4, 2]
print(a)
a =sorted(a, reverse = True)  # a.sort(reverse = True)와 동일, 방법을 잘 구분하기
print(a)

[3, 1, 4, 2]
[4, 3, 2, 1]

In [46]:
a = [3, 3.14, 2.71, 1.414]
a.sort()
print(a)

[1.414, 2.71, 3, 3.14]

In [47]:
a = [3, 3.14, 2.71, 'hello']
a.sort() #숫자와 문자열은 비교가 불가능해 오류 발생, sort함수를 쓰려면 비교 가능한 것을 사용해야 한다.
print(a)

TypeError: '<' not supported between instances of 'str' and 'int'

In [49]:
a = ['hello', '한글', 'Python', 'java'] #보통 한글이 영어 뒤고, 대문자가 있는 문장이 앞으로 간다
a.sort()
print(a)

['Python', 'hello', 'java', '한글']

In [50]:
a = ['hello', '한글', 'Python', 'java']
a.sort()
print(a)
a.clear() # 리스트의 요소를 모두 지우는 함수
print(a)

['Python', 'hello', 'java', '한글']
[]

In [51]:
a = ['hello', '한글', 'Python', 'java']
del a[:] #a.clear()과 동일한 기능
print(a)

[]

In [55]:
#리스트 비어있는지 확인, 편법을 이용
#비었으면 True, 아니면 False
#(1) 리스트의 길이를 이용 : len함수 값이 0이면 빈것
a =[1, 2, 3]
b = []
print(len(a))
print(not len(a))

print(len(b))
print(not len(b)) #not과 len을 동시에 사용

print(a)
print(not a) #not과 리스트를 동시에 사용

print(b)
print(not b)
print(not not b) #비어있으면 False, 아니면 True가 나오도록 하려면 2번 쓰면 된다.

3
False
0
True
[1, 2, 3]
False
[]
True
False

In [58]:
a = 1
b =a
print(a,b)
print(a == b)
print(a is b)
b = 2
print(a,b)

1 1
True
True
1 2

In [59]:
a = [1, 2, 3, 4]
b = a #리스트의 할당, 값이 할당되는게 아니라 a의 메모리 주소를 b에 할당하는 것이다.
print(a,b)
print(a == b)
print(a is b)
print(id(a), id(b))
b[2] = 100
print(a,b)

[1, 2, 3, 4] [1, 2, 3, 4]
True
True
135211910167232 135211910167232
[1, 2, 100, 4] [1, 2, 100, 4]

In [62]:
# 위처럼 b = a 를 통해 b가 a와 완전히 동일한게 아니라 별개의 객체로 만들고 싶을 때 copy를 사용한다
a = [1, 2, 3, 4]
b = a.copy()
print(a,b)
print(a == b) #값을 같으니 True
print(a is b) #id가 다르기에 이건 False
print(id(a), id(b))
b[2] = 100
print(a,b)

[1, 2, 3, 4] [1, 2, 3, 4]
True
False
135211912633856 135211912635072
[1, 2, 3, 4] [1, 2, 100, 4]

In [64]:
a = [1, 2, [5, 6], 7]
b = a
print(a, b)
print(a == b, a is b)
print(id(a), id(b))
b[2][1] = 100
print(a,b)

[1, 2, [5, 6], 7] [1, 2, [5, 6], 7]
True True
135211910136256 135211910136256
[1, 2, [5, 100], 7] [1, 2, [5, 100], 7]

In [65]:
a = [1, 2, [5, 6], 7] #객체 안에 객체가 있다(리스트 안에 리스트가 있다) -> copy가 통하지 않음 -> copy.deepcopy가 필요
b = a.copy()
print(a, b)
print(a == b, a is b)
print(id(a), id(b))
b[2][1] = 100
print(a,b)

[1, 2, [5, 6], 7] [1, 2, [5, 6], 7]
True False
135211910138944 135211910149376
[1, 2, [5, 100], 7] [1, 2, [5, 100], 7]

In [66]:
import copy
a = [1, 2, [5, 6], 7]
b = copy.deepcopy(a)
print(a, b)
print(a == b, a is b)
print(id(a), id(b))
b[2][1] = 100
print(a,b)

[1, 2, [5, 6], 7] [1, 2, [5, 6], 7]
True False
135211910112256 135211911470976
[1, 2, [5, 6], 7] [1, 2, [5, 100], 7]

In [68]:
#딕셔너리 자료구조
#딕셔너리 -> 값끼리 연관이 생김
name = ['james', 'maria', 'grace']
score = [100, 90, 80]

grade = {'james':100, 'maria':90, 'grace':80}
print(grade)

{'james': 100, 'maria': 90, 'grace': 80}

In [70]:
grade = {'james':100, 'maria':90, 'grace':80, 'james':70} #키가 여러개 나오면 가장 마지막에 쓴 값이 적용됨
print(grade)
print(grade['james']) #키에 해당하는 값 가져올 때 -> 딕셔너리[키]

{'james': 70, 'maria': 90, 'grace': 80}
70

In [71]:
#딕셔너리도 여러 자료형을 섞어 쓸 수 있따.
x = {100:'a', True:1, 3.13:[100,10]}
print(x)

{100: 'a', True: 1, 3.13: [100, 10]}

In [72]:
x = {[10,20]: 1} #키에는 문자형 수치형 논리형 가능하지만 리스트는 불가능, 리스트는 값만 가능
print(x)

TypeError: unhashable type: 'list'

In [73]:
# 딕셔너리 만드는 2가지 방식
a = {}
b = dict()
print(a)
print(b)

{}
{}

In [74]:
#리스트로 딕셔너리 만들기
name = ['james', 'maria', 'grace']
score = [100, 90, 80]

grade = dict(zip(name,score))
print(grade)

{'james': 100, 'maria': 90, 'grace': 80}

In [75]:
# 키-값 직접 쓰기, 따옴표 쓰지 않는다
grade = dict(james = 100, maria = 90, grace = 80)
print(grade)

{'james': 100, 'maria': 90, 'grace': 80}

In [76]:
#튜플로 구성된 리스트로 만들기
grade = dict([('james', 100), ('maria', 90), ('grace', 80)])
print(grade)

{'james': 100, 'maria': 90, 'grace': 80}

In [80]:
# 5개의 문자열을 입력받아 딕셔너리에 문자열을 키로하고 그 문자열의 길이를 값으로 하는 딕셔너리 만들기 1
a = input("문자열 1 >>>")
b = input("문자열 2 >>>")
c = input("문자열 3 >>>")
d = input("문자열 4 >>>")
e = input("문자열 5 >>>")
name = [a, b, c, d, e]
value = [len(a), len(b), len(c), len(d), len(e)]
prt1 = dict(zip(name,value))
print(prt1)

문자열 1 >>>chan
문자열 2 >>>hyeong
문자열 3 >>>park
문자열 4 >>>wow
문자열 5 >>>verygood
{'chan': 4, 'hyeong': 6, 'park': 4, 'wow': 3, 'verygood': 8}

In [81]:
# 5개의 문자열을 입력받아 딕셔너리에 문자열을 키로하고 그 문자열의 길이를 값으로 하는 딕셔너리 만들기 2
a = input("문자열 1 >>>")
b = input("문자열 2 >>>")
c = input("문자열 3 >>>")
d = input("문자열 4 >>>")
e = input("문자열 5 >>>")

prt1 = dict(a = len(a), b = len(b), c = len(c), d = len(d), e = len(e)) # 여기서 dict 안에 문자열 값에 따옴표가 붙지 않기 때문에 문자열을 입력받아 하는 걸로는 힘들다.
print(prt1)

문자열 1 >>>chan
문자열 2 >>>hteong
문자열 3 >>>park
문자열 4 >>>wow
문자열 5 >>>verygood
{'a': 4, 'b': 6, 'c': 4, 'd': 3, 'e': 8}

In [82]:
# 5개의 문자열을 입력받아 딕셔너리에 문자열을 키로하고 그 문자열의 길이를 값으로 하는 딕셔너리 만들기 3
prt1 = dict([(a, len(a)), (b, len(b)), (c, len(c)), (d, len(d)), (e, len(e))])
print(prt1)

{'chan': 4, 'hteong': 6, 'park': 4, 'wow': 3, 'verygood': 8}

In [89]:
#값 추가하기
grade = dict(james = 100, maria = 90, grace = 80)
print(grade)

# print(grade['victor']) 딕셔너리에 없는 키를 가지는 값을 가져오게 된다면 KeyError 발생

grade['victor'] = 70
print(grade)

if 'python' in grade:
  print(grade['python'])

print('james' in grade)
print('python' in grade)

grade.setdefault('alex') # 키가 추가는 되나 값이 None
print(grade)
grade.setdefault('daniel', 85) #키와 값이 쌍으로 추가
print(grade)

grade['james'] = 70 # 값 수정
print(grade)

{'james': 100, 'maria': 90, 'grace': 80}
{'james': 100, 'maria': 90, 'grace': 80, 'victor': 70}
True
False
{'james': 100, 'maria': 90, 'grace': 80, 'victor': 70, 'alex': None}
{'james': 100, 'maria': 90, 'grace': 80, 'victor': 70, 'alex': None, 'daniel': 85}
{'james': 70, 'maria': 90, 'grace': 80, 'victor': 70, 'alex': None, 'daniel': 85}

In [94]:
# 5) 값 수정하기
x = dict(zip(list('abcd'), [10, 20, 30, 40]))
print(x)
x.update(a = 80) # 업데이트는 키가 문자열이더라도 따옴표X
print(x)
x.update(e = 50) # 업데이트는 추가 기능도 가능
print(x)
x.update(a = 100, f = 60) # 업데이트는 추가, 수정 한번에 가능
print(x)
x.update({1: 'a'}) # 키가 문자열이 아닐 경우 사용하는 방식
print(x)

{'a': 10, 'b': 20, 'c': 30, 'd': 40}
{'a': 80, 'b': 20, 'c': 30, 'd': 40}
{'a': 80, 'b': 20, 'c': 30, 'd': 40, 'e': 50}
{'a': 100, 'b': 20, 'c': 30, 'd': 40, 'e': 50, 'f': 60}
{'a': 100, 'b': 20, 'c': 30, 'd': 40, 'e': 50, 'f': 60, 1: 'a'}

In [97]:
# 6) 삭제하기
x = dict(zip(list('abcd'), [10, 20, 30, 40]))
print(x)
print(x.pop('b'))
print(x)
print(x.pop('e', 100)) # pop에 넣어준 키가 없으면 값이 나온다
print(x)
del x['d']
print(x)

{'a': 10, 'b': 20, 'c': 30, 'd': 40}
20
{'a': 10, 'c': 30, 'd': 40}
100
{'a': 10, 'c': 30, 'd': 40}
{'a': 10, 'c': 30}

In [99]:
x = dict(zip(list('abcd'), [10, 20, 30, 40]))
print(x)
print(x.popitem())
print(x)
x.clear() # 모든 키-값 쌍 삭제
print(x)

{'a': 10, 'b': 20, 'c': 30, 'd': 40}
('d', 40)
{'a': 10, 'b': 20, 'c': 30}
{}

In [101]:
# 7) 키-값 가져오기
x = dict(zip(list('abcd'), [10, 20, 30, 40]))
print(x)
print(list(x.keys()))
print(list(x.values()))
print(list(x.items()))

{'a': 10, 'b': 20, 'c': 30, 'd': 40}
['a', 'b', 'c', 'd']
[10, 20, 30, 40]
[('a', 10), ('b', 20), ('c', 30), ('d', 40)]

In [107]:
# james 딕셔너리를 만들고 이용해서 전체 과목의 평균 구하기
# sum(리스트) -> 리스트에 있는 요소의 합 구하면 됨
subject = ['python', 'java', 'english', 'math']
score = [100, 90, 70, 40]

james = dict(zip(subject, score))
print(sum(james.values())//len(james))

75

In [113]:
#49페이지 5번
# 금요일 : 탕수육
# 토요일 : 유산슬
# 일요일 : 팔보채
day = ['금요일', '토요일', '일요일']
menu = ['탕수육', '유산슬', '팔보채']
china = dict(zip(day,menu))

china2 = dict(금요일 = '탕수육' , 토요일 = '유산슬' , 일요일 = '팔보채')

china3 = dict([('금', '탕'),('토','유'),('일','팔')])

print(china)
print(china2)
print(china3)

{'금요일': '탕수육', '토요일': '유산슬', '일요일': '팔보채'}
{'금요일': '탕수육', '토요일': '유산슬', '일요일': '팔보채'}
{'금': '탕', '토': '유', '일': '팔'}

In [118]:
# 66페이지 3번
# key값 : flower, fly, floor
# value값: 꽃, 날다, 바닥

# 영어 단어를 입력하세요 >>> ____
# 입력한 값이 있다면 : 영단어 : 한국어
# 입력한 값이 없다면 : 영단어 : 사전에 없는 단어입니다.

key1 = ('flower', 'fly', 'floor')
value1 = ('꽃', '날다', '바닥')
dic = dict(zip(key1,value1))

word = input("영어 단어를 입력하세요 >>>")
print(word + " : " + dic.pop(word, "사전에 없는 단어입니다"))
print(word, " : ", dic.pop(word,"사전에 없는 단어입니다"))

영어 단어를 입력하세요 >>>fly
fly : 날다

In [ ]:
# 66페이지 3번
# key값 : flower, fly, floor
# value값: 꽃, 날다, 바닥

# 영어 단어를 입력하세요 >>> ____
# 입력한 값이 있다면 : 영단어 : 한국어
# 입력한 값이 없다면 : 영단어 : 사전에 없는 단어입니다.
# 리스트 두개를 써서 풀어보기
key1 = ['flower', 'fly', 'floor']
val1 = ['꽃', '날다', '바닥']
english_dict = dict(zip(key1, val1))

word = input("영어 단어를 입력하세요 >>>")

print(word, ":", english_dict.pop(word, "사전에 없는 단어입니다."))