In [4]:
a = """'Python' is a "programming"language
and it is "easy"
to
write code!!!"""
print(a)

'Python' is a "programming"language
and it is "easy"
to
write code!!!

In [6]:
a = "Python is a \"programming\"language"
print(a)
a = "and it is \"easy\""
print(a)
a = "to"
print(a)
a = "write code!!!"
print(a)

Python is a "programming"language
and it is "easy"
to
write code!!!

In [13]:
a = "python"
print('"' + a.upper().rjust(10) + '"')
print('"' + a.ljust(10) + '"')
table = str.maketrans("on", "ON")
print('"' + a.translate(table).center(10) + '"')
table = str.maketrans("pyon", "PY12")
print('"' + a.translate(table) + '"')

"    PYTHON"
"python    "
"  pythON  "
"PYth12"