In [1]:
a = [1, 2, 3, 4, 5]
print(a)

[1, 2, 3, 4, 5]

In [3]:
b = ['hello', 30, 3.14, True, 5.2+6j]
print(b)

['hello', 30, 3.14, True, (5.2+6j)]

In [8]:
c = [30, 40]

In [12]:
a = []
print(a)

b = list()
print(b)

[]
[]

In [14]:
a = [1, 2, 3, 4, 5]
print(a)

[1, 2, 3, 4, 5]

In [17]:
print(range(6))
a = range(6)
print(a)
a = list(a)
print(a)

#/한번에 하려면
print(list(range(10)))

range(0, 6)
range(0, 6)
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
a = range(5, 11)
print(a)
a = list(a)
print(a)

print(list(range(8,20)))

range(5, 11)
[5, 6, 7, 8, 9, 10]
[8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [21]:
a = range(4, 11, 2)
print(a)
a = list(a)
print(a)

print((list(range(-10, 10, 3))))

range(4, 11, 2)
[4, 6, 8, 10]
[-10, -7, -4, -1, 2, 5, 8]

In [23]:
#리스트
a =[1, 2, 3]
print(a)

#튜플
b = (1, 2, 3)
print(b)

c = 1, 2, 3
print(c)

[1, 2, 3]
(1, 2, 3)
(1, 2, 3)

In [27]:
#이건 그냥 정수
a = (29)
print(a)
print(type(a))

# 값이 한개인 튜플
b = (29,)
print(b)
print(type(b))

#소괄호 없이 ,만 붙여도 튜플
c = 29,
print(c)
print(type(c))

29
<class 'int'>
(29,)
<class 'tuple'>
(29,)
<class 'tuple'>

In [31]:
#튜플
print(tuple(range(6)))
print(tuple(range(3,8)))
print(tuple(range(2,12,4)))

#리스트
print(list(range(6)))
print(list(range(3,8)))
print(list(range(2,12,4)))

(0, 1, 2, 3, 4, 5)
(3, 4, 5, 6, 7)
(2, 6, 10)
[0, 1, 2, 3, 4, 5]
[3, 4, 5, 6, 7]
[2, 6, 10]

In [39]:
a = ['kim', 30, 173.5]
print(a)
print(type(a))
a[1] = 31
print(a)

a = tuple(a)
print(a)
print(type(a))

a = list(a)
a[2] = 174.5
print(a)
print(type(a))

['kim', 30, 173.5]
<class 'list'>
['kim', 31, 173.5]
('kim', 31, 173.5)
<class 'tuple'>
['kim', 31, 174.5]
<class 'list'>

In [44]:
a = 'Hello Python'
print(a)
print(type(a))

#문자열을 리스트로 바뀌면 한 글짜씩 리스트에 들어감
b = list(a)
print(b)
print(type(b))

#리스트를 다시 합칠 땐 join
c = ''.join(b)
print(c)
print(type(c))

d = tuple(c)
print(d)
print(type(d))

e = ''.join(d)
print(e)
print(type(e))

Hello Python
<class 'str'>
['H', 'e', 'l', 'l', 'o', ' ', 'P', 'y', 't', 'h', 'o', 'n']
<class 'list'>
Hello Python
<class 'str'>
('H', 'e', 'l', 'l', 'o', ' ', 'P', 'y', 't', 'h', 'o', 'n')
<class 'tuple'>
Hello Python
<class 'str'>

In [45]:
a = 1
b = 2
c = 3

d, e, f = [1, 2, 3]
print(d, e, f)


g, h, i = 1, 2, 3
print(g, h, i)

1 2 3
1 2 3

In [46]:
#패킹
a = [1, 2, 3]
#언패킹
x, y, z = a
print(x, y, z)

1 2 3

In [47]:
a = list(range(-10,0,3))
b = list(range(1, 11, 3))
c = tuple(a+b)
print(c)

(-10, -7, -4, -1, 1, 4, 7, 10)

In [52]:
a = list(range(0, 100, 10))
print(a)
print(30 in a)
print(35 in a)
print(100 not in a)

print(3 in range(3))

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
True
False
True

In [54]:
a = [1,2]
b = [3,4]
print(a+b)

c = [5, 6]
print(a + b + c)

[1, 2, 3, 4]
[1, 2, 3, 4, 5, 6]

In [55]:
a = (1, 2)
b = (3, 4)
print(a + b)

(1, 2, 3, 4)

In [56]:
#range는 합칠 수 없다
a = range(10)
b = range(10, 20)
#이거는 오류난다 print(a+b)

TypeError: unsupported operand type(s) for +: 'range' and 'range'

In [58]:
a = [3, 6, 9]
print(a * 3)

b = (3, 6, 9)
print(b * 3)

c = 'Hello'
print(c * 3)

d = range(10)
#이건 오류난다 print(d * 3)

[3, 6, 9, 3, 6, 9, 3, 6, 9]
(3, 6, 9, 3, 6, 9, 3, 6, 9)
HelloHelloHello

TypeError: unsupported operand type(s) for *: 'range' and 'int'

In [62]:
a = [7, 8, 9, 10]
print(len(a))

b = (1, 2, 3, 4)
print(len(b))

c = range(0, 10, 2)
print(len(c))

d = 'Hello World\n'
print(len(d))

4
4
5
12

In [65]:
a = [15, 14, 13, 12, 11]
print(a[2])
print(a[4])
print(a[len(a)-1])

13
11
11

In [67]:
b = (5, 4, 3, 2, 1)
print(b[1])
print(b[-2])

4
2

In [70]:
c = range(30, -1, -5)
print(c[2])

20

In [74]:
a = [0, 0, 0, 0, 0]
a[0] = 10
a[1] = 20
a[2] = 30
a[3] = 40
a[4] = 50
print(a)

#a[5] = 60 인덱스 값을 넘어서면 에러
a[-1] = 60
print(a)

[10, 20, 30, 40, 50]
[10, 20, 30, 40, 60]

In [75]:
a = (0, 0, 0)
a[1] = 20

TypeError: 'tuple' object does not support item assignment

In [77]:
a = range(20)
a[1] = 20

TypeError: 'range' object does not support item assignment

In [78]:
a = (10, 21, 30)
a = list(a) #[10. 21, 30]
a[1] = 20 #[10, 20, 30]
a = tuple(a)
print(a)

(10, 20, 30)

In [80]:
a = "Hillo"
a = list(a) #['H', 'i', 'l', 'l', 'o']
a[1] = 'e' #['H', 'e', 'l', 'l', 'o']
a = ''.join(a)
print(a)

Hello

In [81]:
a = [10, 20, 30, 31, 40]
del a[3]
print(a)

[10, 20, 30, 50]

In [82]:
#튜플은 삭제가 안된다
a = (1, 2, 3)
del a[2]

TypeError: 'tuple' object doesn't support item deletion

In [83]:
#문자열도 삭제는 안된다
a = 'Helplo'
del a[3]

TypeError: 'str' object doesn't support item deletion

In [84]:
a = "Helplo"
a = list(a) # ['H', 'e', 'l', 'p', 'l', 'o']
del a[3] # ['H', 'e', 'l', 'l', 'o']
a = ''.join(a)
print(a)

Hello

In [89]:
a = list(range(0, 100, 10))
print(a)
a[2:5] = ['a', 'b', 'c']
print(a)
a[2:5] = [30]
print(a)
a[2:5] = 'abc'
print(a)
a[2:5] = (50,)
print(a)
a[1:3] = 'abcde'
print(a)
a[1:6:2] = ['가', '나', '다']
print(a)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
[0, 10, 'a', 'b', 'c', 50, 60, 70, 80, 90]
[0, 10, 30, 50, 60, 70, 80, 90]
[0, 10, 'a', 'b', 'c', 70, 80, 90]
[0, 10, 50, 70, 80, 90]
[0, 'a', 'b', 'c', 'd', 'e', 70, 80, 90]
[0, '가', 'b', '나', 'd', '다', 70, 80, 90]

In [90]:
a = list(range(0, 100, 10))
print(a)
del a[5:8]
print(a)
del a[1:6:2]
print(a)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
[0, 10, 20, 30, 40, 80, 90]
[0, 20, 40, 90]

In [97]:
a = input()
b = input()
c = list(a[0::2])
d = list(b[1::2])
print(c)
print(d)
e = ''.join(c) +''.join(d)
print(e)

apple
python
['a', 'p', 'e']
['y', 'h', 'n']
apeyhn

In [98]:
a = input()
b = input()
c = list(a[0::2])
d = list(b[1::2])
print(c)
print(d)
e = ''.join(c[0]) +''.join(d[0]) + ''.join(c[1]) +''.join(d[1]) + ''.join(c[2]) +''.join(d[2])
print(e)

apple
python
['a', 'p', 'e']
['y', 'h', 'n']
ayphen

In [105]:
# 49페이지 1번
# '31025' -> 3학년 10반 25번
# '30505' -> 3학년 5반 5번
# int로 형변환 해주면 05 는 5가 된다.
a = input("학년, 반 번호를 5자리 숫자로 입력하세요 >>>")
b = int(a[0])
c = int(a[1:3])
d = int(a[3:5])
print(f"{b}학년 {c}반 {d}번")

학년, 반 번호를 5자리 숫자로 입력하세요 >>>30505
3학년 5반 5번

In [107]:
# 49페이지 1번
# '31025' -> 3학년 10반 25번
# '30505' -> 3학년 5반 5번
a = input("학년, 반 번호를 5자리 숫자로 입력하세요 >>>")
b = a[0]
c = a[1:3].lstrip('0')
d = a[3:5].lstrip('0')
print(f"{b}학년 {c}반 {d}번")

학년, 반 번호를 5자리 숫자로 입력하세요 >>>30505
3학년 5반 5번

In [112]:
# 49페이지 2번
# 288가1234 -> 1234
# 10가1234 -> 1234
a = input("차량 번호 >>>")
print(a[-4:])

# 288가1234 -> 288
# 10가1234 -> 10
# 서울2가1234 -> 서울2
print(a[:a.find('가')])
print(a[:-5])

차량 번호 >>>서울2가1234
1234
서울2
서울2

In [119]:
# 49페이지 3번
s = 'maple'
# 글자 수가 홀수 = 가운데 1개
# 글자 수가 짝수 = 가운데 2개
t = len(s)-1
print(s[t//2])

a = input("글자 입력 >> ")
b = len(a)-1
print(b)
print(a[b//2 : b//2+2])
print(a[b//2 : -(b//2)])

p
글자 입력 >> orange
5
an

In [124]:
# 49페이지 4번
# range 이용해서 a 리스트 만들기

# 시작 번호와 끝 번호를 입력받아서
# 입력 받은 영역의 요소를 추출

# 추출한 리스트에서 몇 번째를 받을지도 입력받아서 추출
a = int(input("시작 번호 >>> "))
b = int(input("끝 번호 >>>"))+1
c = list(range(a, b))
print(c)

d = int(input("리스트의 몇 번째 숫자를 출력 하시겠습니까? >>>"))-1
e = c[d]
print(e)

시작 번호 >>> 50
끝 번호 >>>80
range(50, 81)
리스트의 몇 번째 숫자를 출력 하시겠습니까? >>>17
66

In [129]:
# 66페이지 2번

# 월을 입력하면 그 달이 몇일까지 있는지를 출력하는 프로그램
# 내가한거 a = list['31', '28', '31', '30', '31', '30', '31', '31', '30', '31', '30', '31']
month = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
b = int(input("몇 월의 날짜를 확인하시겠습니까? >>>")) - 1

print(month[b])

몇 월의 날짜를 확인하시겠습니까? >>>2
28