In [7]:
# 가변 인수 (variable argument)
def print_num(*args):
  for i in args:
    print(i, end = ' ')
  print()

print_num(1,2)
print_num(1,2,3,)
print_num(1,2,3,4,5,6,7,8,9,10)

print_num([1, 2, 3])
print_num(*[1, 2, 3 ])

print_num ((4, 5, 6))
print_num(*(4, 5, 6))

1 2
1 2 3
1 2 3 4 5 6 7 8 9 10
[1, 2, 3]
1 2 3
(4, 5, 6)
4 5 6

In [9]:
def print_num2(a, *args): # 함수 (고정, 가변)으로 하는 경우 앞의 1개만 고정인수로 들어가고 나머지는 가변인수로 들어간다.
  print(a)
  print(args)

print_num2(1)
print_num2(1, 2, 3)

1
()
1
(2, 3)

In [11]:
def print_num3(a, b, *args):
  print(a)
  print(b)
  print(args)

#print_num3(1) 이거는 오류 고정인수는 필수값이기 때문에 두 개의 인수는 필수적으로 들어가야 한다.
print_num3(1, 2)
print_num3(1, 2, 3, 4)

1
2
()
1
2
(3, 4)

In [14]:
def print_num4(a, *args, b): # 이 경우엔 오류 가변인수(*args)는 무조건 맨 뒤에 와야 함 즉 def print_num4(a, b, *args)로만 가능하다
  print(a)
  print(b)
  print(args)

print_num4(1, 2)
print_num4(1, 2, 3, 4)

TypeError: print_num4() missing 1 required keyword-only argument: 'b'

In [25]:
def sumMultiply(a, *args):
# sum = 0
#  for i in args:
#    sum += i
  print(type(args))
  return a * sum(args) # 튜플로 받았으므로 튜플의 sum 함수를 이용한다

a = sumMultiply(4, 1, 2, 3, 4)

print(a)

<class 'tuple'>
40

In [27]:
# 키워드 인수
def info(name, age, address):
  print('이름:', name)
  print('나이:', age)
  print('주소:', address)

info('park', 26, '서울')
info('서울', 'kim', 30)
info(name = 'lee', age = 25, address = '수원')
info(address = '수원' , name = 'lee', age = 25)

이름: park
나이: 26
주소: 서울
이름: 서울
나이: kim
주소: 30
이름: lee
나이: 25
주소: 수원
이름: lee
나이: 25
주소: 수원

In [31]:
# 키워드 인수 + 딕셔너리 언패킹
def info2(**kwargs):
  print(type(kwargs))
  for k, v in kwargs.items():
    print(k, v)

  print(kwargs)

d = dict(이름 = 'kim', 나이 = 30, 주소 = '서울')
info2(**d)
info2(이름 = 'lee', 나이 = 25, 주소 = '수원')

<class 'dict'>
이름 kim
나이 30
주소 서울
{'이름': 'kim', '나이': 30, '주소': '서울'}
<class 'dict'>
이름 lee
나이 25
주소 수원
{'이름': 'lee', '나이': 25, '주소': '수원'}

In [39]:
# 키워드 가변인수 + 고정인수, kwargs는 맨 뒤로 와야한다
def info3(num, **kwargs):
  print(num)
  print(kwargs)

info3('hong')
info3('hong', age = 30)
info3('hong', age = 30, aaddress = '성남')
info3('hong', name = 'kim', age = 30 , address = '성남')

info3(**{'name' : 'kim', 'age' : 35, 'address' : '하남'}) #이건 오류

def info4(**kwargs, a): #이것도 오류
  print(a)
  print(kwargs)

info4(age = 30, addresss = '성남' , 'hong') # 이것도 오류

hong
{}
hong
{'age': 30}
hong
{'age': 30, 'aaddress': '성남'}
hong
{'name': 'kim', 'age': 30, 'address': '성남'}

TypeError: info3() missing 1 required positional argument: 'num'

In [40]:
# 고정인수 + 위치가변인수 + 키워드 가변인수
def print_custom(a, *args, **kwargs): # 위치가변인수, 키워드 가변인수는 1개씩밖에 못옴
  print(a)
  print(args)
  print(kwargs)

print_custom(1, 2, 3, 4, 5, name = 'lee', age = 30)

1
(2, 3, 4, 5)
{'name': 'lee', 'age': 30}

In [41]:
print(1, 2, 3, sep = ':', end = '!') # 1:2:3!

1:2:3!

In [42]:
def print_custom2(*args, **kwargs):
  print(*args, **kwargs)  # 이게 되네

print_custom2(1,2,3, sep = ':', end = '!')

1:2:3!

In [54]:
# scoreAdd 문제
def scoreAdd(a, *args, **kwargs):
  stuScore = {}

  print(kwargs.keys())

  subject = list(kwargs.keys())
  print(type(a))

  for i in range(a):
    subjectScore = {}
    for j in subject:
      subjectScore[j] = input(f"{args[i]}의 {j} 성적 입력 >>> ")

    stuScore[args[i]] = subjectScore

  return stuScore

a = scoreAdd(3, 'james', 'Kim', 'Lee', python = 0 , java = 0 , cpp = 0, ai = 0)
print(a)

dict_keys(['python', 'java', 'cpp', 'ai'])
<class 'int'>
james의 python 성적 입력 >>> 90
james의 java 성적 입력 >>> 100
james의 cpp 성적 입력 >>> 80
james의 ai 성적 입력 >>> 70
Kim의 python 성적 입력 >>> 50
Kim의 java 성적 입력 >>> 60
Kim의 cpp 성적 입력 >>> 70
Kim의 ai 성적 입력 >>> 80
Lee의 python 성적 입력 >>> 20
Lee의 java 성적 입력 >>> 30
Lee의 cpp 성적 입력 >>> 40
Lee의 ai 성적 입력 >>> 0
{'james': {'python': '90', 'java': '100', 'cpp': '80', 'ai': '70'}, 'Kim': {'python': '50', 'java': '60', 'cpp': '70', 'ai': '80'}, 'Lee': {'python': '20', 'java': '30', 'cpp': '40', 'ai': '0'}}

In [61]:
from re import S
def scoreAdd(a, *args, ** kwargs):
  d = {}
  for name in args:
    d[name] = {}
  for name in args:
    for k, v in kwargs.items():
      s =int(input(f"{name}의 {k}성적 입력 >>> "))
      d[name][k] = s
  return d

a = scoreAdd(3, 'James', 'Kim', 'Lee', python = 0, java = 0, cpp = 0, ai = 0)
print(a)

def getNameScore(name, **kwargs):
  if name not in kwargs:
    return 0
  return float(sum(list(kwargs[name].values()))) // len(list(kwargs[name].values())) # -> 이렇게 단순화 return sum(kwargs[name].values()) // len(kwargs[name])

b = getNameScore('James', **a)
print(b)
c = getNameScore('Kim', **a)
print(c)
d = getNameScore('Lee', **a)
print(d)

James의 python성적 입력 >>> 40
James의 java성적 입력 >>> 50
James의 cpp성적 입력 >>> 60
James의 ai성적 입력 >>> 70
Kim의 python성적 입력 >>> 20
Kim의 java성적 입력 >>> 30
Kim의 cpp성적 입력 >>> 40
Kim의 ai성적 입력 >>> 50
Lee의 python성적 입력 >>> 30
Lee의 java성적 입력 >>> 40
Lee의 cpp성적 입력 >>> 50
Lee의 ai성적 입력 >>> 60
{'James': {'python': 40, 'java': 50, 'cpp': 60, 'ai': 70}, 'Kim': {'python': 20, 'java': 30, 'cpp': 40, 'ai': 50}, 'Lee': {'python': 30, 'java': 40, 'cpp': 50, 'ai': 60}}
55.0
35.0
45.0

In [63]:
# 200 페이지 2번
# 키 - 과목명, 값 - 점수인 marks 딕셔너리를 전달하면 해당 딕셔너리에 저장된 점수들의 평균을 반환하는 함수 구현
# 함수 정의
# 반환 값 : 평균
# 함수 이름 : get_average
# 매개 변수 : 딕셔너리 marks

def get_average(marks):
  #sum = 0
  #for v in marks.values():
  #  print(v)
  #  sum += v
  #return sum // len(marks)
  return sum(marks.values())/ len(marks)


marks = {'국어' : 90, '영어' : 80, '수학' : 85}
average = get_average(marks)
print('평균은 {}점입니다'.format(average))

90
80
85
평균은 85점입니다

In [69]:
# 200 페이지 3번
# 1) 축의금을 낸 사람의 이름과 그 사람이 낸 축의금을 딕셔너리에 저장
# 2) 전체 축의금의 합계
# gift() 함수
# -반환값 : 없음
# - 매개변수 : 딕셔너리 dic, 사람 who, 축의금 money

total = 0
def gift(dic, who, money):
  global total # global은 함수 내에서 바깥의 변수를 사용하기 위해 선언하는 것
  dic[who] = money
  total += money

wedding = {}
gift(wedding, '영희', 5)
gift(wedding, '철수', 3)
gift(wedding, '이모', 10)
print('축의금 명단 : {}'.format(wedding)) # 축의금 명단 : {'영희' : 5, '철수' : 3, '이모' : 10}
print('전체 축의금 : {}'.format(total)) # 전체 축의금 : 18

축의금 명단 : {'영희': 5, '철수': 3, '이모': 10}
전체 축의금 : 18

In [71]:
# 238 페이지 1번
# 나라별 수도를 순차적 반복
# nation 리스트의 내용을 이용하여 nation.txt 파일을 생성하세요
nation = ['그리스', '아테네', '독일', '베를린', '러시아', '모스크바', '미국', '워싱턴']

# nation.txt 내용
# 그리스-아테네
# 독일-베를린
# 러시아-모스크바
# 미국-워싱턴

with open('nation.txt', 'w' ) as f:
  for i in range(len(nation)):
    if i % 2 == 0:
      f.write(nation[i]+"-")
    else:
      f.write(nation[i]+"\n")

In [ ]:
# 238 페이지 2번
# 연락처.txt 파일에서 전화번호가 011로 시작하는 모든 연락처를 010으로 수정해주세요
# <연락처.txt>
# 김나라 목포시 010-1111-1111
# 이나라 서울시 011-2222-2222
# 박나라 부산시 011-3333-3333
# 송나라 대전시 010-4444-4444

# <연락처2.txt>
# 김나라 목포시 010-1111-1111
# 이나라 서울시 010-2222-2222
# 박나라 부산시 010-3333-3333
# 송나라 대전시 010-4444-4444
with open('연락처.txt', 'w') as f:
  f.write("김나라 목포시 010-1111-1111\n")
  f.write("이나라 서울시 011-2222-2222\n")
  f.write("박나라 부산시 011-3333-3333\n")
  f.write("송나라 대전시 010-4444-4444\n")

f = open('연락처2.txt', 'w')
with open('연락처.txt', 'r') as g:
  lines = f.readlines()
  lines = lines.replace('011', '010')

# 집가서 선생님이 한거 보기